<div class="content">
	<div class="container">
		<div class="row">
		    <div class="posts-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
			    <article>
			        <h3 class="title">Quem Somos Nós?</h3>
			        <div class="post-content">
			            <div class="img-content">
			                <img src="/img/escritorio_sao_paulo.jpg" alt="">
			            </div>
			            <p>[..]TEXTO DO JOHNNI[...] Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			            <a id="why"></a>
			            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		    </div>
		</div>
		<div class="divider"></div>
		<div class="row">
		    <div class="col-lg-12">
		        <h3 class="title">Crescimento e Tend&ecirc;ncias</h3>
		    </div>
		    <div class="clearfix"></div>
		    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 animate_afl">
		        <h4>Interesse no OpenERP</h4>
		        <p>
					O OpenERP &#233; uma solu&#231;&#227;o em gest&#227;o empresarial <strong>segura, completa e flex&#237;vel</strong>, com casos de sucesso em diversos segmentos de <strong>neg&#243;cios em todo mundo</strong>. Podemos notar tamb&#233;m nos <a href="http://www.google.com.br/trends/explore?q=openerp%2C%20totvs%2C%20dynamics%20ax" target="_blank"><strong>&#250;ltimos 5 anos</strong></a> um constante crescimento no interesse do Open ERP, seguindo as <a href="http://www.google.com.br/trends/explore?q=openerp%2C%20totvs%2C%20dynamics%20ax" target="_blank"><strong>tend&#234;ncias de mercado</strong></a> e acompanhando seus concorrentes.
		        </p>
		        <p>
					Um dos principais <strong>motivos do grande sucesso</strong> e constante crescimento do OpenERP &#233; por se tratrar de um projeto <a href="http://pt.wikipedia.org/wiki/C%C3%B3digo_aberto" target="_blank"><strong>Open Source</strong></a> que conta com a colabora&#231;&#227;o de <strong>empresas gigantes</strong> e <strong>milhares de desenvolvedores</strong> pelo mundo. Um projeto desafiador que vem provendo inova&#231;&#245;es constantes.
		        </p>
		    </div>
		    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 animate_afr">
		        <ul class="graph-container">
		            <li>
		                <span>2008</span>
		                <div class="bar-wrapper">
		                    <div class="bar-container">
		                        <div class="bar-background"></div>
		                        <div class="bar-inner">23</div>
		                        <div class="bar-foreground"></div>
		                    </div>
		                </div>
		            </li>
		            <li>
		                <span>2009</span>
		                <div class="bar-wrapper">
		                    <div class="bar-container">
		                        <div class="bar-background"></div>
		                        <div class="bar-inner">38</div>
		                        <div class="bar-foreground"></div>
		                    </div>
		                </div>
		            </li>
		            <li>
		                <span>2010</span>
		                <div class="bar-wrapper">
		                    <div class="bar-container">
		                        <div class="bar-background"></div>
		                        <div class="bar-inner">55</div>
		                        <div class="bar-foreground"></div>
		                    </div>
		                </div>
		            </li>
		            <li>
		                <span>2011</span>
		                <div class="bar-wrapper">
		                    <div class="bar-container">
		                        <div class="bar-background"></div>
		                        <div class="bar-inner">64</div>
		                        <div class="bar-foreground"></div>
		                    </div>
		                </div>
		            </li>
		            <li>
		                <span>2012</span>
		                <div class="bar-wrapper">
		                    <div class="bar-container">
		                        <div class="bar-background"></div>
		                        <div class="bar-inner">93</div>
		                        <div class="bar-foreground"></div>
		                    </div>
		                </div>
		            </li>
		            <li>
		                <ul class="graph-marker-container">
		                    <li style="bottom:25%;"><span>25</span></li>
		                    <li style="bottom:50%;"><span>50</span></li>
		                    <li style="bottom:75%;"><span>75</span></li>
		                    <li style="bottom:100%;"><span>100</span></li>
		                </ul>
		            </li>
		        </ul>
		    </div>
		</div>
		<div class="divider"></div>
		<div class="row">
		    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		        <!-- Tab Start -->
		        <h3 class="title">Como Trabalhamos</h3>
		        <div class="widget tabs animate_afc">
		            <div id="horizontal-tabs">
		                <ul class="tabs">
		                    <li id="tab1" class="current">Levantamento</li>
		                    <li id="tab2">Desenvolvimento</li>
		                    <li id="tab3">Testes</li>
		                    <li id="tab4">Suporte</li>
		                    <li id="tab5">SaaS</li>
		                </ul>
		                <div class="contents">
		                    <div class="tabscontent" id="content1" style="display: block;">
		                        <p>
		                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
		                        </p>
		                    </div>
		                    <div class="tabscontent" id="content2">
		                        <p>
		                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
		                        </p>
		                    </div>
		                    <div class="tabscontent" id="content3">
		                        <p>
		                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
		                        </p>
		                    </div>
		                    <div class="tabscontent" id="content4">
		                        <p>
		                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
		                        </p>
		                    </div>
		                    <div class="tabscontent" id="content5">
		                        <p>
		                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
		                        </p>
		                    </div>
		                </div>
		            </div>
		        </div>
		        <!-- Tab End -->
		    </div>
		    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		        <!-- Testimonials Widget Start -->
		        {% include testimonials.html %}
		    </div>
		    <div class="clearfix"></div>
		</div>
		<div class="divider"></div>
	</div>
	{% include contact-us.html %}
	<div class="divider"></div>
	<div class="container">
		<div class="row">
		    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		        <h3 class="title">Nossa Equipe</h3>
		        <div class="row team">
		            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item animate_afc d1">
		                <div class="team-member">
		                    <div class="team-member-holder">
		                        <div class="team-member-image">
		                            <img alt="" src="/assets/foto-ceo.jpg">
		                            <!--
		                            <div class="team-member-links">
		                                <div class="team-member-links-list">
		                                    <a target="_blank" class="facebook team-member-links-item" href="#"><i class="icon-facebook"></i></a>
		                                    <a target="_blank" class="twitter team-member-links-item" href="#"><i class="icon-twitter"></i></a>
		                                    <a target="_blank" class="linkedin team-member-links-item" href="#"><i class="icon-linkedin"></i></a>
		                                </div>
		                            </div>
		                            -->
		                        </div>
		                        <div class="team-member-meta">
		                            <h4 class="team-member-name">Johnni Betini</h4>
		                            <div class="team-member-role">CEO</div>
		                            <div class="team-member-description">
		                                <p>...</p>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item animate_afc d2">
		                <div class="team-member">
		                    <div class="team-member-holder">
		                        <div class="team-member-image">
		                            <img alt="" src="/assets/foto-cmo.jpg">
		                            <!--
		                            <div class="team-member-links">
		                                <div class="team-member-links-list">
		                                    <a target="_blank" class="facebook team-member-links-item" href="#"><i class="icon-facebook"></i></a>
		                                    <a target="_blank" class="twitter team-member-links-item" href="#"><i class="icon-twitter"></i></a>
		                                    <a target="_blank" class="linkedin team-member-links-item" href="#"><i class="icon-linkedin"></i></a>
		                                </div>
		                            </div>
		                            -->
		                        </div>
		                        <div class="team-member-meta">
		                            <h4 class="team-member-name">Edite Reina</h4>
		                            <div class="team-member-role">CMO</div>
		                            <div class="team-member-description">
		                                <p>...</p>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item animate_afc d3">
		                <div class="team-member">
		                    <div class="team-member-holder">
		                        <div class="team-member-image">
		                            <img alt="" src="/assets/foto-cfo.jpg">
		                            <!--
		                            <div class="team-member-links">
		                                <div class="team-member-links-list">
		                                    <a target="_blank" class="facebook team-member-links-item" href="#"><i class="icon-facebook"></i></a>
		                                    <a target="_blank" class="twitter team-member-links-item" href="#"><i class="icon-twitter"></i></a>
		                                    <a target="_blank" class="linkedin team-member-links-item" href="#"><i class="icon-linkedin"></i></a>
		                                </div>
		                            </div>
		                            -->
		                        </div>
		                        <div class="team-member-meta">
		                            <h4 class="team-member-name">André Tiago</h4>
		                            <div class="team-member-role">CFO</div>
		                            <div class="team-member-description">
		                                <p>...</p>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item animate_afc d4">
		                <div class="team-member">
		                    <div class="team-member-holder">
		                        <div class="team-member-image">
		                            <img alt="" src="/assets/foto-cto.jpg">
		                            <!--
		                            <div class="team-member-links">
		                                <div class="team-member-links-list">
		                                    <a target="_blank" class="facebook team-member-links-item" href="#"><i class="icon-facebook"></i></a>
		                                    <a target="_blank" class="twitter team-member-links-item" href="#"><i class="icon-twitter"></i></a>
		                                    <a target="_blank" class="linkedin team-member-links-item" href="#"><i class="icon-linkedin"></i></a>
		                                </div>
		                            </div>
		                            -->
		                        </div>
		                        <div class="team-member-meta">
		                            <h4 class="team-member-name">Carlos Almeida</h4>
		                            <div class="team-member-role">CTO</div>
		                            <div class="team-member-description">
		                                <p>Fundador da Thinkopen Brasil e Portugal. Formado pelo Instituto Superior Técnico Portugal. Com mais de 20 anos de experiência em TI e soluções Open Source. Entre outros desenvolveu projetos para a Agência Espacial Europeia e para o Governo Português.</p>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
	{% include our_clients.html %}
</div>
