<div class="content">
	<div class="container">
		<div class="row">
		    <div class="posts-block col-lg-8 col-md-8 col-sm-6 col-xs-12">
			    <article>
			        <h3 class="title">Quem Somos Nós?</h3>
			        <div class="post-content">
			            <div class="img-content">
			                <img src="/img/escritorio_sao_paulo.jpg" alt="">
			            </div>
			            <p>[..]TEXTO DO JOHNNI[...] Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		            </div>
			    </article>
                <div class="widget tabs">
                    <div id="horizontal-tabs">
                        <ul class="tabs">
                            <li id="tab1" class="current">PORQUÊ?</li>
                            <li id="tab2">COMO?</li>
                            <li id="tab3">O QUÊ?</li>
                        </ul>
                        <div class="contents">
					    	<div class="tabscontent" id="content1" style="display: block;">
								<div class="accordionMod panel-group">
									<div class="accordion-item">
										<h4 class="accordion-toggle">Porque fazemos o que fazemos?</h4>
										<section class="accordion-inner panel-body">
											<p>Acreditamos que todos os gestores, independente da dimensão da sua empresa ou organização, independente do volume do seu negócio, e também da sua formação, experiência, tempo e recursos devem ter acesso a informação atualizada, relevante e precisa, para que possa tomar decisões conscientes e bem informadas, sem que para isso tenha de investir grandes verbas quer em licenças de software quer em infra-estruturas de hardware e rede. As ferramentas de gestão devem ser um recurso acessível a todos. Pense na electricidade, e na forma como chega a si, basta ligarmos um aparelho à tomada, para a usar, não precisamos de saber como chegou lá, nem como foi produzida, apenas consumimos o que precisamos e no fim do mês recebemos uma nota com o valor do que consumimos. Acreditamos que as ferramentas de gestão devem ser assim também, acessíveis de qualquer lugar por qualquer profissional e com flexibilidade de utilização.</p>
										</section>
									</div>
									<div class="accordion-item">
										<h4 class="accordion-toggle">Porque saímos da cama de manhã?</h4>
										<section class="accordion-inner panel-body">
											<p>Sabemos que neste momento a tecnologia disponível permite-nos resolver este paradigma e disponibilizar software de gestão de qualidade, utilizando abordagens inovadoras e modernas. O conceito Open Source eliminou o custo do pagamento da licença de software e libertou o código para que este pudesse ser instalado e acedido em formatos cada vez mais eficientes e seguros. Isto provoca um efeito de economia de escala nunca antes visto nesta indústria de software e TI. Saber que podemos fazer a diferença nesse processo de mudança e contribuir um pouco que seja é a nossa maior motivação.</p>
										</section>
									</div>
									<div class="accordion-item">
										<h4 class="accordion-toggle">Porque alguém vai se importar com isso?</h4>
										<section class="accordion-inner panel-body">
											<p>Acreditamos que o aumento de eficiência em cada organização, contribui individualmente para uma melhoria geral das outras organizações e em consequência de toda a economia. A soma do todo é maior que a soma dos ganhos individuais de cada uma! Melhorando assim a eficiência das empresas causamos um grande impacto na qualidade de vida dos profissionais envolvidos, suas famílias e em última instância a sociedade em geral.</p>
										</section>
									</div>
								</div>
								<br />
								<h3> VEJA "COMO?" <i class="icon-angle-right"></i><i class="icon-angle-right"></i></h3>
							</div>
        			        <div class="tabscontent" id="content2">
								<div class="accordionMod panel-group">
									<div class="accordion-item">
										<h4 class="accordion-toggle">Que tecnologias usamos?</h4>
										<section class="accordion-inner panel-body">
											<p>Temos à disposição as tecnologias disponíveis de redes de comunicações em fibra ótica, a qualidade e disponibilidade dos servidores, a internet, o surgimento do conceito Cloud Computing (HaaS). Acente nessa infra-estrutura física bem distribuída e com custos reduzidos, que liga praticamente toda a sociedade, a comunidade Open Source desenvolve e disponibiliza uma enorme quantidade de software livre de alta qualidade para ser utilizado, modificado, melhorado e integrado e que deu origem ao conceito de software como serviço (SaaS).</p>
										</section>
									</div>
									<div class="accordion-item">
										<h4 class="accordion-toggle">Como as utilizamos em nosso benefício?</h4>
										<section class="accordion-inner panel-body">
											<p>...</p>
										</section>
									</div>
									<div class="accordion-item">
										<h4 class="accordion-toggle">Como tudo isso ajuda nossos clientes?</h4>
										<section class="accordion-inner panel-body">
											<p>Comparando com o modelo tradicional de distribuição de produtos de software (no qual o cliente adquire a licença de uso e se responsabiliza pela instalação e manutenção em produção) podemos destacar as seguintes vantagens do modelo SaaS para os clientes:
											</p>
											<ul>
												<li>- Não exige que o cliente crie uma estrutura e capacite os profissionais para manter o sistema funcionando, permitindo que ele se foque no seu negócio;</li>
												<li>- Permite uma abordagem gradual de implantação, podendo começar com poucos recursos e expandir conforme tiver um retorno positivo dos seus investimentos, reduzindo os riscos e o tempo para o retorno do investimento;</li>
												<li>- Permite aumentar ou reduzir os recursos ao longo do tempo, de acordo com as necessidades do negócio;</li>
												<li>- A implantação pode ser feita com pouca dependência das equipes de TI da organização, não disputando prioridade com outros sistemas e podendo reduzir os tempos de implantação.</li>
											</ul>
										</section>
									</div>
								</div>
								<h3> VEJA "O QUÊ?" <i class="icon-angle-right"></i><i class="icon-angle-right"></i></h3>
							</div>						
    			            <div class="tabscontent" id="content3">
								<div class="accordionMod panel-group">
						            <div class="accordion-item">
										<h4 class="accordion-toggle">Que soluções disponibilizamos?</h4>
										<section class="accordion-inner panel-body">
											<p>A solução SaaS é indicada principalmente para pequenas e médias empresas (80% do tecido empresarial), pois permite que estas tenham acesso a boas soluções de tecnologia sem que façam grandes investimentos em hardware e infraestrutura.</p>
						                </section>
						            </div>
						            <div class="accordion-item">
						                <h4 class="accordion-toggle">Como contribuem para o seu negócio?</h4>
						                <section class="accordion-inner panel-body">
											<p>...</p>
										</section>
									</div>
						            <div class="accordion-item">
						                <h4 class="accordion-toggle"><span style="text-transform:capitalize;">Como {% include company-slogan.html %}</span></h4>
						                <section class="accordion-inner panel-body">
											<p>...</p>
						                </section>
						            </div>
						        </div>
						        <a class="btn-special hidden-xs btn-grey col-lg-3" style="margin-bottom: 1em;" href="/contactos">Contate Já!</a>
					        </div>
				        </div>
			        </div>
		        </div>
	        </div>
		    <div class="skills col-lg-4 col-md-4 col-sm-6 col-xs-12">
		        <h3 class="title">Nossas Competências</h3>
		        <div class="progress">
		            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">Wordpress 85%</div>
		        </div>
		        <div class="progress">
		            <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;">Graphic Design 65%</div>
		        </div>
		        <div class="progress">
		            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">HTML/CSS Design 90%</div>
		        </div>
		        <div class="progress">
		            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">SEO 60%</div>
		        </div>
		        <div class="progress">
		            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">Marketing 75%</div>
		        </div>
		    </div>
		    <!-- Skill Section Start -->
		    <div class="clearfix"></div>
		</div>
		<div class="divider"></div>
		<div class="row">
		    <div class="col-lg-12">
		        <h3 class="title">Crescimento do Produto</h3>
		    </div>
		    <div class="clearfix"></div>
		    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 animate_afl">
		        <h4>Últimos Cinco Anos de Prosperidade</h4>
		        <p>
		            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
		        </p>
		        <p>
		            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
		        </p>
		    </div>
		    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 animate_afr">
		        <ul class="graph-container">
		            <li>
		                <span>2008</span>
		                <div class="bar-wrapper">
		                    <div class="bar-container">
		                        <div class="bar-background"></div>
		                        <div class="bar-inner">25</div>
		                        <div class="bar-foreground"></div>
		                    </div>
		                </div>
		            </li>
		            <li>
		                <span>2009</span>
		                <div class="bar-wrapper">
		                    <div class="bar-container">
		                        <div class="bar-background"></div>
		                        <div class="bar-inner">50</div>
		                        <div class="bar-foreground"></div>
		                    </div>
		                </div>
		            </li>
		            <li>
		                <span>2010</span>
		                <div class="bar-wrapper">
		                    <div class="bar-container">
		                        <div class="bar-background"></div>
		                        <div class="bar-inner">75</div>
		                        <div class="bar-foreground"></div>
		                    </div>
		                </div>
		            </li>
		            <li>
		                <span>2011</span>
		                <div class="bar-wrapper">
		                    <div class="bar-container">
		                        <div class="bar-background"></div>
		                        <div class="bar-inner">100</div>
		                        <div class="bar-foreground"></div>
		                    </div>
		                </div>
		            </li>
		            <li>
		                <span>2012</span>
		                <div class="bar-wrapper">
		                    <div class="bar-container">
		                        <div class="bar-background"></div>
		                        <div class="bar-inner">50</div>
		                        <div class="bar-foreground"></div>
		                    </div>
		                </div>
		            </li>
		            <li>
		                <ul class="graph-marker-container">
		                    <li style="bottom:25%;"><span>25%</span></li>
		                    <li style="bottom:50%;"><span>50%</span></li>
		                    <li style="bottom:75%;"><span>75%</span></li>
		                    <li style="bottom:100%;"><span>100%</span></li>
		                </ul>
		            </li>
		        </ul>
		    </div>
		</div>
		<div class="divider"></div>
		<div class="row">
		    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		        <!-- Tab Start -->
		        <h3 class="title">Como Trabalhamos</h3>
		        <div class="widget tabs animate_afc">
		            <div id="horizontal-tabs">
		                <ul class="tabs">
		                    <li id="tab1" class="current">Levantamento</li>
		                    <li id="tab2">Desenvolvimento</li>
		                    <li id="tab3">Testes</li>
		                    <li id="tab4">Suporte</li>
		                    <li id="tab5">SaaS</li>
		                </ul>
		                <div class="contents">
		                    <div class="tabscontent" id="content1" style="display: block;">
		                        <p>
		                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
		                        </p>
		                    </div>
		                    <div class="tabscontent" id="content2">
		                        <p>
		                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
		                        </p>
		                    </div>
		                    <div class="tabscontent" id="content3">
		                        <p>
		                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
		                        </p>
		                    </div>
		                    <div class="tabscontent" id="content4">
		                        <p>
		                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
		                        </p>
		                    </div>
		                    <div class="tabscontent" id="content5">
		                        <p>
		                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
		                        </p>
		                    </div>
		                </div>
		            </div>
		        </div>
		        <!-- Tab End -->
		    </div>
		    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		        <!-- Testimonials Widget Start -->
		        <div class="row">
		            <div class="testimonials widget">
		                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		                    <div class="testimonials-title">
		                        <h3 class="title">Testemunhos</h3>
		                    </div>
		                </div>
		                <div class="clearfix"></div>
		                <div id="testimonials-carousel" class="testimonials-carousel slide animate_afc">
		                    <div class="carousel-inner">
		                        <div class="item active">
		                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		                                <div class="testimonial item">
		                                    <p>
		                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.
		                                    </p>
		                                    <div class="testimonials-arrow">
		                                    </div>
		                                    <div class="author">
		                                        <div class="testimonial-image "><img alt="" src="/assets/team-member.jpg"></div>
		                                        <div class="testimonial-author-info">
		                                            <a href="#"><span class="color">Monica Sing</span></a> Company
		                                        </div>
		                                    </div>
		                                </div>
		                            </div>
		                        </div>
		                        <div class="item">
		                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		                                <div class="testimonial item">
		                                    <p>
		                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.
		                                    </p>
		                                    <div class="testimonials-arrow">
		                                    </div>
		                                    <div class="author">
		                                        <div class="testimonial-image "><img alt="" src="/assets/team-member.jpg"></div>
		                                        <div class="testimonial-author-info">
		                                            <a href="#"><span class="color">Monzurul Haque</span></a> Company
		                                        </div>
		                                    </div>
		                                </div>
		                            </div>
		                        </div>
		                        <div class="item">
		                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		                                <div class="testimonial item">
		                                    <p>
		                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.
		                                    </p>
		                                    <div class="testimonials-arrow">
		                                    </div>
		                                    <div class="author">
		                                        <div class="testimonial-image "><img alt="" src="/assets/team-member.jpg"></div>
		                                        <div class="testimonial-author-info">
		                                            <a href="#"><span class="color">Carol Johansen</span></a> Company
		                                        </div>
		                                    </div>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		    <div class="clearfix"></div>
		</div>
		<div class="divider"></div>
	</div>
	<div class="container">
		<div class="row">
		    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		        <h3 class="title">Nossa Equipe</h3>
		        <div class="row team">
		            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item animate_afc d1">
		                <div class="team-member">
		                    <div class="team-member-holder">
		                        <div class="team-member-image">
		                            <img alt="" src="/assets/foto-ceo.jpg">
		                            <!--
		                            <div class="team-member-links">
		                                <div class="team-member-links-list">
		                                    <a target="_blank" class="facebook team-member-links-item" href="#"><i class="icon-facebook"></i></a>
		                                    <a target="_blank" class="twitter team-member-links-item" href="#"><i class="icon-twitter"></i></a>
		                                    <a target="_blank" class="linkedin team-member-links-item" href="#"><i class="icon-linkedin"></i></a>
		                                </div>
		                            </div>
		                            -->
		                        </div>
		                        <div class="team-member-meta">
		                            <h4 class="team-member-name">Johnni Betini</h4>
		                            <div class="team-member-role">CEO</div>
		                            <div class="team-member-description">
		                                <p>...</p>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item animate_afc d2">
		                <div class="team-member">
		                    <div class="team-member-holder">
		                        <div class="team-member-image">
		                            <img alt="" src="/assets/foto-cmo.jpg">
		                            <!--
		                            <div class="team-member-links">
		                                <div class="team-member-links-list">
		                                    <a target="_blank" class="facebook team-member-links-item" href="#"><i class="icon-facebook"></i></a>
		                                    <a target="_blank" class="twitter team-member-links-item" href="#"><i class="icon-twitter"></i></a>
		                                    <a target="_blank" class="linkedin team-member-links-item" href="#"><i class="icon-linkedin"></i></a>
		                                </div>
		                            </div>
		                            -->
		                        </div>
		                        <div class="team-member-meta">
		                            <h4 class="team-member-name">Edite Reina</h4>
		                            <div class="team-member-role">CMO</div>
		                            <div class="team-member-description">
		                                <p>...</p>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item animate_afc d3">
		                <div class="team-member">
		                    <div class="team-member-holder">
		                        <div class="team-member-image">
		                            <img alt="" src="/assets/foto-cfo.jpg">
		                            <!--
		                            <div class="team-member-links">
		                                <div class="team-member-links-list">
		                                    <a target="_blank" class="facebook team-member-links-item" href="#"><i class="icon-facebook"></i></a>
		                                    <a target="_blank" class="twitter team-member-links-item" href="#"><i class="icon-twitter"></i></a>
		                                    <a target="_blank" class="linkedin team-member-links-item" href="#"><i class="icon-linkedin"></i></a>
		                                </div>
		                            </div>
		                            -->
		                        </div>
		                        <div class="team-member-meta">
		                            <h4 class="team-member-name">André Tiago</h4>
		                            <div class="team-member-role">CFO</div>
		                            <div class="team-member-description">
		                                <p>...</p>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item animate_afc d4">
		                <div class="team-member">
		                    <div class="team-member-holder">
		                        <div class="team-member-image">
		                            <img alt="" src="/assets/foto-cto.jpg">
		                            <!--
		                            <div class="team-member-links">
		                                <div class="team-member-links-list">
		                                    <a target="_blank" class="facebook team-member-links-item" href="#"><i class="icon-facebook"></i></a>
		                                    <a target="_blank" class="twitter team-member-links-item" href="#"><i class="icon-twitter"></i></a>
		                                    <a target="_blank" class="linkedin team-member-links-item" href="#"><i class="icon-linkedin"></i></a>
		                                </div>
		                            </div>
		                            -->
		                        </div>
		                        <div class="team-member-meta">
		                            <h4 class="team-member-name">Carlos Almeida</h4>
		                            <div class="team-member-role">CTO</div>
		                            <div class="team-member-description">
		                                <p>Fundador da Thinkopen Brasil e Portugal. Formado pelo Instituto Superior Técnico Portugal. Com mais de 20 anos de experiência em TI e soluções Open Source. Entre outros desenvolveu projetos para a Agência Espacial Europeia e para o Governo Português.</p>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
	{% include contact-us.html %}
	{% include our_clients.html %}
</div>
