<div class="content">
	<div class="container">
		<div class="row">
		    <div class="posts-block col-lg-8 col-md-8 col-sm-6 col-xs-12">
			    <article>
			        <h3 class="title">Who We Are?</h3>
			        <div class="post-content">
			            <div class="img-content">
			                <img src="/img/team/team.jpg" alt="">
			            </div>
			            <p>
			            [..]TEXTO DO JOHNNI[...] Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			            </p>
			            <p>
			            Somos uma empresa com grande experiência em know-how no uso de soluções open source.<br />
			    Neste nosso percurso auxiliámos e contribuímos para o sucesso de empresas de pequeno a grande porte, implementando soluções adequadas a cada negócio, seus processos, sus postura no mercado.
			            </p>
			            <br />
			            <h3>Porquê?</h3>
			            <p><strong>Porque fazemos o que fazemos?</strong><br />
			            Acreditamos que todos os gestores, independente da dimensação da sua empresa e do volume do seu negócio, deve ter acesso a informação atualizada, relevante e precisa do seu negócio, sua empresa.</p>
			            <br />
			            <p>Porque saímos da cama de manhã?<br />
			            Sabemos que neste momento a tecnologia disponível permite-nos resolver problemas ancestrais, utilizando abordagens inovadoras e modernas. Otimizando cada negócio contrinuíremos para uma melhoria geral de toda a economia. A soma do conjunto de todos os negócios é maior que a soma das partes!</p>
			            <p>Porque alguém se vai importar com isso?<br />
			            Porque em conjunto com nossos parceiros ... otimizar os negócios reduzindo desperdícios, </p>
			            <br />
			            <h3>Como Fazemos?</h3>
			            <p>Que recursos usamos?</p>
			            <p>Como esses recursos nos ajudam cumprir com o "Porquê?"</p>
			            <h3>O Que Fazemos?</h3>
			            <p>Como é a solução final?</p>
			            <p>Porque é que é bom para si?</p>
			        </div>
			    </article>
		    </div>
		    <!-- Left Section End -->
		    <!-- Skill Section Start -->
		    <div class="skills col-lg-4 col-md-4 col-sm-6 col-xs-12">
		        <h3 class="title">Our Skills</h3>
		        <div class="progress">
		            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">Wordpress 85%</div>
		        </div>
		        <div class="progress">
		            <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;">Graphic Design 65%</div>
		        </div>
		        <div class="progress">
		            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">HTML/CSS Design 90%</div>
		        </div>
		        <div class="progress">
		            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">SEO 60%</div>
		        </div>
		        <div class="progress">
		            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">Marketing 75%</div>
		        </div>
		    </div>
		    <!-- Skill Section Start -->
		    <div class="clearfix"></div>
		</div>
		<div class="divider"></div>
		<div class="row">
		    <div class="col-lg-12">
		        <h3 class="title">Our Growth</h3>
		    </div>
		    <div class="clearfix"></div>
		    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 animate_afl">
		        <h4>Last five years achivements</h4>
		        <p>
		            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
		        </p>
		        <p>
		            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
		        </p>
		    </div>
		    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 animate_afr">
		        <ul class="graph-container">
		            <li>
		                <span>2008</span>
		                <div class="bar-wrapper">
		                    <div class="bar-container">
		                        <div class="bar-background"></div>
		                        <div class="bar-inner">25</div>
		                        <div class="bar-foreground"></div>
		                    </div>
		                </div>
		            </li>
		            <li>
		                <span>2009</span>
		                <div class="bar-wrapper">
		                    <div class="bar-container">
		                        <div class="bar-background"></div>
		                        <div class="bar-inner">50</div>
		                        <div class="bar-foreground"></div>
		                    </div>
		                </div>
		            </li>
		            <li>
		                <span>2010</span>
		                <div class="bar-wrapper">
		                    <div class="bar-container">
		                        <div class="bar-background"></div>
		                        <div class="bar-inner">75</div>
		                        <div class="bar-foreground"></div>
		                    </div>
		                </div>
		            </li>
		            <li>
		                <span>2011</span>
		                <div class="bar-wrapper">
		                    <div class="bar-container">
		                        <div class="bar-background"></div>
		                        <div class="bar-inner">100</div>
		                        <div class="bar-foreground"></div>
		                    </div>
		                </div>
		            </li>
		            <li>
		                <span>2012</span>
		                <div class="bar-wrapper">
		                    <div class="bar-container">
		                        <div class="bar-background"></div>
		                        <div class="bar-inner">50</div>
		                        <div class="bar-foreground"></div>
		                    </div>
		                </div>
		            </li>
		            <li>
		                <ul class="graph-marker-container">
		                    <li style="bottom:25%;"><span>25%</span></li>
		                    <li style="bottom:50%;"><span>50%</span></li>
		                    <li style="bottom:75%;"><span>75%</span></li>
		                    <li style="bottom:100%;"><span>100%</span></li>
		                </ul>
		            </li>
		        </ul>
		    </div>
		</div>
		<div class="divider"></div>
		<div class="row">
		    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		        <!-- Tab Start -->
		        <h3 class="title">How We Work</h3>
		        <div class="widget tabs animate_afc">
		            <div id="horizontal-tabs">
		                <ul class="tabs">
		                    <li id="tab1" class="current">Design</li>
		                    <li id="tab2">Development</li>
		                    <li id="tab3">Testing</li>
		                </ul>
		                <div class="contents">
		                    <div class="tabscontent" id="content1" style="display: block;">
		                        <p>
		                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
		                        </p>
		                    </div>
		                    <div class="tabscontent" id="content2">
		                        <p>
		                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
		                        </p>
		                    </div>
		                    <div class="tabscontent" id="content3">
		                        <p>
		                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
		                        </p>
		                    </div>
		                </div>
		            </div>
		        </div>
		        <!-- Tab End -->
		    </div>
		    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		        <!-- Testimonials Widget Start -->
		        <div class="row">
		            <div class="testimonials widget">
		                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		                    <div class="testimonials-title">
		                        <h3 class="title">Testimonials</h3>
		                    </div>
		                </div>
		                <div class="clearfix"></div>
		                <div id="testimonials-carousel" class="testimonials-carousel slide animate_afc">
		                    <div class="carousel-inner">
		                        <div class="item active">
		                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		                                <div class="testimonial item">
		                                    <p>
		                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.
		                                    </p>
		                                    <div class="testimonials-arrow">
		                                    </div>
		                                    <div class="author">
		                                        <div class="testimonial-image "><img alt="" src="/assets/team-member.jpg"></div>
		                                        <div class="testimonial-author-info">
		                                            <a href="#"><span class="color">Monica Sing</span></a> Company
		                                        </div>
		                                    </div>
		                                </div>
		                            </div>
		                        </div>
		                        <div class="item">
		                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		                                <div class="testimonial item">
		                                    <p>
		                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.
		                                    </p>
		                                    <div class="testimonials-arrow">
		                                    </div>
		                                    <div class="author">
		                                        <div class="testimonial-image "><img alt="" src="/assets/team-member.jpg"></div>
		                                        <div class="testimonial-author-info">
		                                            <a href="#"><span class="color">Monzurul Haque</span></a> Company
		                                        </div>
		                                    </div>
		                                </div>
		                            </div>
		                        </div>
		                        <div class="item">
		                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		                                <div class="testimonial item">
		                                    <p>
		                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.
		                                    </p>
		                                    <div class="testimonials-arrow">
		                                    </div>
		                                    <div class="author">
		                                        <div class="testimonial-image "><img alt="" src="/assets/team-member.jpg"></div>
		                                        <div class="testimonial-author-info">
		                                            <a href="#"><span class="color">Carol Johansen</span></a> Company
		                                        </div>
		                                    </div>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		    <div class="clearfix"></div>
		</div>
		<div class="divider"></div>
	</div>
	<div class="container">
		<div class="row">
		    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		        <h3 class="title">Our Team</h3>
		        <div class="row team">
		            <!-- item 1 -->
		            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item animate_afc d1">
		                <div class="team-member">
		                    <div class="team-member-holder">
		                        <div class="team-member-image">
		                            <img alt="" src="/assets/foto-ceo.jpg">
		                            <!--
		                            <div class="team-member-links">
		                                <div class="team-member-links-list">
		                                    <a target="_blank" class="facebook team-member-links-item" href="#"><i class="icon-facebook"></i></a>
		                                    <a target="_blank" class="twitter team-member-links-item" href="#"><i class="icon-twitter"></i></a>
		                                    <a target="_blank" class="linkedin team-member-links-item" href="#"><i class="icon-linkedin"></i></a>
		                                </div>
		                            </div>
		                            -->
		                        </div>
		                        <div class="team-member-meta">
		                            <h4 class="team-member-name">Johnni Betini</h4>
		                            <div class="team-member-role">CEO</div>
		                            <div class="team-member-description">
		                                <p>...</p>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            <!-- End -->
		            <!-- item 2 -->
		            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item animate_afc d2">
		                <div class="team-member">
		                    <div class="team-member-holder">
		                        <div class="team-member-image">
		                            <img alt="" src="/assets/foto-cmo.jpg">
		                            <!--
		                            <div class="team-member-links">
		                                <div class="team-member-links-list">
		                                    <a target="_blank" class="facebook team-member-links-item" href="#"><i class="icon-facebook"></i></a>
		                                    <a target="_blank" class="twitter team-member-links-item" href="#"><i class="icon-twitter"></i></a>
		                                    <a target="_blank" class="linkedin team-member-links-item" href="#"><i class="icon-linkedin"></i></a>
		                                </div>
		                            </div>
		                            -->
		                        </div>
		                        <div class="team-member-meta">
		                            <h4 class="team-member-name">Edite Reina</h4>
		                            <div class="team-member-role">CMO</div>
		                            <div class="team-member-description">
		                                <p>...</p>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            <!-- End -->
		            <!-- item 3 -->
		            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item animate_afc d3">
		                <div class="team-member">
		                    <div class="team-member-holder">
		                        <div class="team-member-image">
		                            <img alt="" src="/assets/foto-cfo.jpg">
		                            <!--
		                            <div class="team-member-links">
		                                <div class="team-member-links-list">
		                                    <a target="_blank" class="facebook team-member-links-item" href="#"><i class="icon-facebook"></i></a>
		                                    <a target="_blank" class="twitter team-member-links-item" href="#"><i class="icon-twitter"></i></a>
		                                    <a target="_blank" class="linkedin team-member-links-item" href="#"><i class="icon-linkedin"></i></a>
		                                </div>
		                            </div>
		                            -->
		                        </div>
		                        <div class="team-member-meta">
		                            <h4 class="team-member-name">André Tiago</h4>
		                            <div class="team-member-role">CFO</div>
		                            <div class="team-member-description">
		                                <p>...</p>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            <!-- End -->
		            <!-- item 4 -->
		            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item animate_afc d4">
		                <div class="team-member">
		                    <div class="team-member-holder">
		                        <div class="team-member-image">
		                            <img alt="" src="/assets/foto-cto.jpg">
		                            <!--
		                            <div class="team-member-links">
		                                <div class="team-member-links-list">
		                                    <a target="_blank" class="facebook team-member-links-item" href="#"><i class="icon-facebook"></i></a>
		                                    <a target="_blank" class="twitter team-member-links-item" href="#"><i class="icon-twitter"></i></a>
		                                    <a target="_blank" class="linkedin team-member-links-item" href="#"><i class="icon-linkedin"></i></a>
		                                </div>
		                            </div>
		                            -->
		                        </div>
		                        <div class="team-member-meta">
		                            <h4 class="team-member-name">Carlos Almeida</h4>
		                            <div class="team-member-role">CTO</div>
		                            <div class="team-member-description">
		                                <p>Fundador da Thinkopen Portugal e Brasil. Formado pelo Instituto Superior Técnico Portugal. Com mais de 15 anos de experiência em TI, e soluções Open Source. Entre outros desenvolveu projetos para a Agência Espacial Europeia e para o Governo Português.</p>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            <!-- End -->
		        </div>
		    </div>
		</div>
	</div>
	{% include contact-us.html %}
	{% include our_clients.html %}
<div class="divider"></div>
</div>
