<ul class="contact-us">
    <li>
         <i class="icon-map-marker"></i>
         <p>
              <strong>Endereço:</strong> Av. Paulista 1636, Cj 706, <br>
              01311-000 São Paulo, SP
         </p>
    </li>
    <li>
         <i class="icon-phone"></i>
         <p>
              <strong>Telefone:</strong> {% include phone.html %}
         </p>
    </li>
    <li>
         <i class="icon-envelope"></i>
         <p>
              <strong>Email:</strong><a href="mailto:{% include email.html %}">{% include email.html %}</a>
         </p>
    </li>
    <li>
         <i class="icon-warning-sign"></i>
         <p>
              <strong>Suporte:</strong><a href="mailto:{% include email-suport.html %}">{% include email-suport.html %}</a>
         </p>
    </li>
</ul>
