<ul class="contact-us">
    <li>
         <i class="icon-map-marker"></i>
         <p>
              <strong>Endereço:</strong> Edifício Miraflores Office Center<br />
										 Avenida das Túlipas, nº 6 13º A/B,
										1495-161 Algés
										Lisboa
										Portugal
         </p>
    </li>
    <li>
         <i class="icon-phone"></i>
         <p>
              <strong>Telefone:</strong> {% include phone-portugal.html %}
         </p>
    </li>
    <li>
         <i class="icon-envelope"></i>
         <p>
              <strong>Email:</strong><a href="mailto:{% include email-portugal.html %}">{% include email-portugal.html %}</a>
         </p>
    </li>
</ul>
