<ul class="contact-us">
    <li>
         <i class="icon-map-marker"></i>
         <p>
              <strong>Endereço:</strong> Edifício Miraflores Office Center
										Avenida das Túlipas, nº 6 13º A/B
										<span style="margin-left: 70px;">1495-161 Algés Lisboa Portugal</span>
         </p>
    </li>
    <li>
         <i class="icon-phone"></i>
         <p>
              <strong>Telefone:</strong> +351 214123491
         </p>
    </li>
    <li>
         <i class="icon-envelope"></i>
         <p>
              <strong>Email:</strong><a href="mailto:sales@thinkopensolutions.pt">sales@thinkopensolutions.pt</a>
         </p>
    </li>
    <li>
         <i class="icon-globe"></i>
         <p>
              <strong>Site:</strong><a href="http://www.thinkopensolutions.com">www.thinkopensolutions.pt</a>
         </p>
    </li>
</ul>
