<ul class="contact-us">
    <li>
         <i class="icon-map-marker"></i>
         <p>
              <strong>Endereço:</strong> Av. Paulista, 491, 1º Andar, Bela Vista<br />
										 CEP 01311-000, São Paulo, SP
         </p>
    </li>
	<li>
	     <i class="icon-phone"></i>
	     <p>
	     	<strong>Telefone Comercial:</strong> {% include phone.html %}
     	 </p>
	</li>
	<li>
	     <i class="icon-phone"></i>
	     <p>
	     	<strong>Telefone Geral:</strong> {% include phone_geral.html %}
	     </p>
	</li>
</ul>
