{% include redes-sociais.html %}
<div class="divider"></div><br/>
{% include expediente.html %}

{% comment %}
<div class="address widget">
    <h3 class="title">Brasil / SP &#8226; São Paulo<br /> (Fábrica/Comercial)</h3>
    {% include address-fabrica-br.html %}
</div>
{% endcomment %}

<div class="address widget">
    <h3 class="title">Brasil / SP &#8226; São Paulo</h3>
    {% include address-sede.html %}
</div>
<div class="address widget">
    <h3 class="title">Brasil / MG &#8226; Belo Horizonte</h3>
    {% include address-belohorizonte.html %}
</div>
<!--
<div class="address widget">
    <h3 class="title">Campinas &#8226; Brasil</h3>
    {% include address-campinas.html %}
</div>
-->
<div class="address widget">
    <h3 class="title">Inglaterra &#8226; Londres</h3>
    {% include address-inglaterra.html %}
</div>
<div class="address widget">
    <h3 class="title">Portugal &#8226; Lisboa</h3>
    {% include address-portugal.html %}
</div>
