<div class="content">
	<div class="container">
		<div class="row">
		    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12" id="contact-form">
		        <h3 class="title">Encaminhe seu Currículo</h3>
		        <p>Venha fazer parte de uma empresa inovadora, que busca constantemente  a excelência no time de profissionais. Buscando uma equipe altamente qualificada e com perfis complementares, garantimos um crescimento profissional constante dos nossos colaboradores.</p>
		        <p>Com este cenário num ambiente desafiador e de constante desenvolvimento profissional, possibilitamos desafios enriquecedores e acesso às tecnologias mais modernas da atualidade.</p>
		        <p>Faça a diferença! Venha fazer parte do nosso time e juntos a transformar a tecnologia para facilitar processos, agilizar decisões gerênciais e agregar valor aos nossos clientes. Impactando na sua qualidade de vida, suas famílias e na sociedade em geral.</p>
		        <div class="divider"></div>
		        <form method="post" class="reply" id="talentos">
		            <fieldset>
		                <div class="row">
		                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		                        <label>Nome: <span>*</span></label>
		                        <input class="form-control" id="name" name="name" type="text" value="" required>
		                    </div>
		                </div>
		                <div class="row">
		                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		                        <label>Email: <span>*</span></label>
		                        <input class="form-control" id="email" name="email" type="email" value="" required>
		                    </div>
		                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		                        <label>Celular: <span>*</span></label>
		                        <input class="form-control" id="phone" name="phone" type="text" value="(ddd) número">
		                    </div>
		                </div>
		                <div class="row">
		                	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				            	<label>Com qual função você mais se identifica? <span>*</span></label>
								<select class="form-control" name="vaga" required>
								  <option value="vazio"></option>
								  <option value="Especialista em Desenvolvimento">Especialista em Desenvolvimento</option>
								  <option value="Executivo de Negócios">Executivo de Negócios</option>
								  <option value="Assistente Administrativo">Assistente Administrativo</option>
								  <option value="Estágio">Estágio</option>
								  <option value="Estágio">Outro...</option>
								</select>
							</div>
		                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		                        <label>Crie sua própria vaga: </label>
		                        <input class="form-control" id="vaga_other" name="vaga_other" type="text" value="">
		                    </div>
		                </div>
		                <div class="row">
		                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		                        <label>Mensagem: <span>*</span></label>
		                        <textarea class="form-control" id="text" name="text" rows="3" cols="40" required></textarea>
		                    </div>
		                </div>
		            </fieldset>
		            <div class="success alert-success alert" style="display:none">A sua mensagem foi enviada com sucesso.</div>
		            <div class="error alert-error alert" style="display:none">O E-mail deve ser correto e a mensagem não pode ser maior que 200 letras.</div>
		            <button class="btn-normal btn-color submit  bottom-pad" type="submit">Enviar</button>
		            <div class="clearfix">
		            </div>
		        </form>
		    </div>
		    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
	            {% include address.html %}
		    </div>
		</div>
		<div class="divider"></div>
		<div class="row">
		    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		        <h3 class="title">A Nossa Localização</h3>
		        <div id="maps" class="google-maps">
		        </div>
		        <!-- Left Section End -->
		    </div>
		</div>
		<div class="divider"></div>
	</div>
</div>
