			</div>
			<!-- Content End -->
			{% include footer.html %}
		</div>
		<!-- Wrap End -->
		<!-- The Scripts -->
		<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<script src="/js/circularnav.js"></script>
		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.js"></script>
		<script src="/js/jquery.parallax.js"></script> 
		<script src="/js/modernizr-2.6.2.min.js"></script> 
		<script src="/js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
		<script src="/js/jquery.nivo.slider.pack.js"></script>
		<script src="/js/jquery.prettyPhoto.js"></script>
		<script src="/js/superfish.js"></script>
		<script src="/js/tweetMachine.js"></script>
		<script src="/js/tytabs.js"></script>
		<script src="/js/jquery.gmap.min.js"></script>
		<script src="/js/circularnav.js"></script>
		<script src="/js/jquery.sticky.js"></script>
		<script src="/js/jflickrfeed.js"></script>
		<script src="/js/imagesloaded.pkgd.min.js"></script>
		<script src="/js/waypoints.min.js"></script>
		<script src="/js/custom1.js"></script>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-45361301-1', 'thinkopensolutions.com.br');
		  ga('send', 'pageview');

		</script>
	</body>
</html>
