<div class="clients-title">
    <h3 class="title">Nossos Clientes</h3>
    <div class="carousel-controls pull-right">
        <a class="prev" href="#client-carousel" data-slide="prev"><i class="icon-angle-left"></i></a>
        <a class="next" href="#client-carousel" data-slide="next"><i class="icon-angle-right"></i></a>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div id="client-carousel" class="client-carousel slide">
        <div class="carousel-inner">
            <div class="item active">
				{% assign counter=0 %}
            	{% for page in site.categories.clients limit:4 %}
					{% assign counter=counter | plus:1 %}
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item animate_afc d{{ counter }}">
						<div class="item-inner"><a href="{{ page.link }}"><img alt="{{ page.title }}" src="/img/clients/{{ page.logo }}"></a></div>
					</div>
				{% endfor %}
            </div>
            <div class="item">
            	{% for page in site.categories.clients offset:4 limit:4 %}
					{% assign counter=counter | plus:1 %}
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item animate_afc d{{ counter }}">
						<div class="item-inner"><a href="{{ page.link }}"><img alt="{{ page.title }}" src="/img/clients/{{ page.logo }}"></a></div>
					</div>
				{% endfor %}
            </div>
        </div>
    </div>
</div>