<div class="slogan bottom-pad-small">
     <div class="container">
          <div class="row">
                <div class="slogan-content">
                     <div class="col-lg-9 col-md-9">
                          <h3>Fale conosco hoje! Ligue <b>{% include phone.html %}</b> ou por Email <a href="mailto:{% include email.html %}">{% include email.html %}</a></h3>
						<p>Somos especialistas em ERP open-source. ERP 100% web para representantes (B2B) e cliente final (B2C).<br />
						Contate-nos hoje para saber mais. {% include company-slogan.html %}</p>
                     </div>
                     <div class="col-lg-3 col-md-3">
                          <div class="get-started">
                                <a href="/contactos"><button class="btn btn-special btn-color pull-right">Contate Já</button></a>
                          </div>
                     </div>
                     <div class="clearfix"></div>
                </div>
          </div>
     </div>
</div>
<div class="divider"></div>
