<!-- Features start -->  
<div class="features bottom-pad">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h3  class="title">Our Services</h3>
				<div class="row">
				    <div class="circular-nav">
				        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 animate_afl">
				            <div id="cn-tabs">
				                <div class="service service-1">
				                    <div class="cn-content">
				                        <h4>Premium Sliders</h4>
				                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				                        <a href="#">Read More <i class="icon-angle-right"></i><i class="icon-angle-right"></i></a>
				                        <div class="clearfix"></div>
				                    </div>
				                    <div class="clearfix"></div>
				                </div>
				                <div class="service service-2">
				                    <div class="cn-content">
				                        <h4>Unlimited Colors</h4>
				                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				                        <a href="#">Read More <i class="icon-angle-right"></i><i class="icon-angle-right"></i></a>
				                        <div class="clearfix"></div>
				                    </div>
				                </div>
				                <div class="service service-3">
				                    <div class="cn-content">
				                        <h4>Shortcodes</h4>
				                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				                        <a href="#">Read More <i class="icon-angle-right"></i><i class="icon-angle-right"></i></a>
				                    </div>
				                    <div class="clearfix"></div>
				                </div>
				                <div class="service service-4">
				                    <div class="cn-content">
				                        <h4>300+ Icons</h4>
				                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				                        <a href="#">Read More <i class="icon-angle-right"></i><i class="icon-angle-right"></i></a>
				                    </div>
				                    <div class="clearfix"></div>
				                </div>
				                <div class="service service-5">
				                    <div class="cn-content">
				                        <h4>HTML5 / CSS3</h4>
				                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				                        <a href="#">Read More <i class="icon-angle-right"></i><i class="icon-angle-right"></i></a>
				                    </div>
				                    <div class="clearfix"></div>
				                </div>
				                <div class="service service-6">
				                    <div class="cn-content">
				                        <h4>After Sale Support</h4>
				                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				                        <a href="#">Read More <i class="icon-angle-right"></i><i class="icon-angle-right"></i></a>
				                    </div>
				                    <div class="clearfix"></div>
				                </div>
				                <div class="service service-7">
				                    <div class="cn-content">
				                        <h4>Google Fonts</h4>
				                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				                        <a href="#">Read More <i class="icon-angle-right"></i><i class="icon-angle-right"></i></a>
				                    </div>
				                    <div class="clearfix"></div>
				                </div>
				                <div class="service service-8">
				                    <div class="cn-content">
				                        <h4>Ajax Contact Form</h4>
				                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				                        <a href="#">Read More <i class="icon-angle-right"></i><i class="icon-angle-right"></i></a>
				                    </div>
				                    <div class="clearfix"></div>
				                </div>
				                <div class="service service-9">
				                    <div class="cn-content">
				                        <h4>Valid HTML Files</h4>
				                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				                        <a href="#">Read More <i class="icon-angle-right"></i><i class="icon-angle-right"></i></a>
				                    </div>
				                    <div class="clearfix"></div>
				                </div>
				            </div>
				            <div class="clearfix"></div>
				        </div>
				        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 animate_afr">
				            <div class="cn-wrapper">
				                <ul>
				                    <li class="circle-1 circle"><a class="active" href="#"><span class="icon-picture"></span></a></li>
				                    <li class="circle-2 circle"><a href="#"><span class="icon-rocket"></span></a></li>
				                    <li class="circle-3 circle"><a href="#"><span class="icon-puzzle-piece"></span> </a></li>
				                    <li class="circle-4 circle"><a href="#"><span class="icon-thumbs-up-alt"></span></a></li>
				                    <li class="circle-5 circle"><a href="#"><span class="icon-html5"></span></a></li>
				                    <li class="circle-6 circle"><a href="#"><span class="icon-user"></span></a></li>
				                    <li class="circle-7 circle"><a href="#"><span class="icon-google-plus"></span> </a></li>
				                    <li class="circle-8 circle"><a href="#"><span class="icon-envelope-alt"></span></a></li>
				                    <li class="circle-9 circle"><a href="#"><span class="icon-hand-right"></span></a></li>
				                </ul>
				                <div class="clearfix"></div>
				            </div>
				        </div>
				        <div class="clearfix"></div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Features End --> 
