<!-- Footer Start -->
<footer id="footer">
    <!-- Footer Top Start -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-one">
                    <h3>A Empresa</h3>
                    <p>Know-how em ERP open-source.<br />
                    ERP 100% web para representantes (B2B) e cliente final (B2C).<br />
                    Contate-nos hoje para saber mais.<br />
                    Levamos seu sonho mais alto!
                    </p>
                </section>
                <!--
                <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-two">
                    <h3>Twitter Stream</h3>
                    <ul id="tweets">
                    </ul>
                </section>
                -->
                <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-two">
                <p> </p>
                </section>
                <section class="col-lg-6 col-md-6 col-xs-12 col-sm-6 footer-three">
                    <h3>Contatos</h3>
                    {% include address.html %}
                </section>
                <!--
                <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-four">
                    <h3>Flickr Photostream</h3>
                    <ul id="flickrfeed" class="thumbs"></ul>
                </section>
                -->
            </div>
        </div>
    </div>
    <!-- Footer Top End --> 
    <!-- Footer Bottom Start -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 "> &copy; Copyright 2013 by <a href="index.html">ThinkOpen Solutions Brasil</a>. Todos os direitos reservados. </div>
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                    <ul class="social social-icons-footer-bottom">
                    	{% include social.html %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom End --> 
</footer>
<!-- Scroll To Top --> 
<a href="#" class="scrollup"><i class="icon-angle-up"></i></a>
