<header id="header">
    <!-- Header Top Bar Start -->
    <div class="top-bar">
        <div class="slidedown collapse">
            <div class="container">
                <div class="phone-email pull-left">
                    <a><i class="icon-phone"></i> Fale Conosco : {% include phone.html %}</a>
                    <a href="mailto:{% include email.html %}"><i class="icon-envelope"></i> Email : {% include email.html %}</a>
                </div>
                <div class="pull-right">
                    <ul class="social pull-left">
                    	{% include social.html %}
                    </ul>
					{% comment %}
                    <div id="search-form" class="pull-right">
                        <form action="#" method="get">
                            <input type="text" class="search-text-box">
                        </form>
                    </div>
					{% endcomment %}
                </div>
            </div>
        </div>
    </div>
    <!-- Header Top Bar End -->
    <!-- Main Header Start -->
    <div class="main-header">
        <div class="container">
            <!-- TopNav Start -->
            <div class="topnav navbar-header">
                <a class="navbar-toggle down-button" data-toggle="collapse" data-target=".slidedown">
                <i class="icon-angle-down icon-current"></i>
                </a> 
            </div>
            <!-- TopNav End -->
            <!-- Logo Start -->
            <div class="logo pull-left">
                <h1>
                    <a href="/">
                    <img src="/img/logo.png" alt="{{ site.title }}">
                    </a>
                </h1>
            </div>
            <!-- Logo End -->
            <!-- Mobile Menu Start -->
            <div class="mobile navbar-header">
                <a class="navbar-toggle" data-toggle="collapse" href=".navbar-collapse">
                <i class="icon-reorder icon-2x"></i>
                </a> 
            </div>
            <!-- Mobile Menu End -->
            <!-- Menu Start -->
            <nav class="collapse navbar-collapse menu">
                <ul class="nav navbar-nav sf-menu">
                    <li><a {% if page.url == "/index.html" %} id="current"{% endif %} href="/">Home</a></li>
					<li><a {% if page.url == "/erp/index.html" %} id="current"{% endif %} href="/erp">ERP</a></li>
                    <li><a {% if page.url == "/servicos/index.html" %} id="current"{% endif %} href="/servicos" class="sf-with-ul">Serviços</a></li>
                    <li><a {% if page.url == "/empresa/index.html" or page.url == "/porque/index.html" %} id="current"{% endif %} href="/empresa" class="sf-with-ul">A Empresa</a>
						<ul>
							<li><a href="/porque" class="sf-with-ul">Porquê ?</a></li>
						</ul>
                    </li>
                    <!--<li><a {% if page.url == "/blog/index.html" %} id="current"{% endif %} href="/blog" class="sf-with-ul">Blog</a></li>-->
                    <li><a {% if page.url == "/testemunhos/index.html" %} id="current"{% endif %} href="/testemunhos">Testemunhos</a></li>
                    <!--<li><a {% if page.url == "/parceiros/index.html" %} id="current"{% endif %} href="/parceiros">Parceiros</a></li>-->
                    <li><a {% if page.url == "/banco_talentos/index.html" %} id="current"{% endif %} href="/banco_talentos">Talentos</a></li>
                    <li><a {% if page.url == "http://www.sie.com.br/universidade-thinkopen-solutions" %} id="current"{% endif %} href="http://www.sie.com.br/universidade-thinkopen-solutions" target="_blank">Universidade</a></li>
                    <li><a {% if page.url == "/contato/index.html" %} id="current"{% endif %} href="/contato">Contatos</a></li>
                </ul>
            </nav>
            <!-- Menu End --> 
        </div>
    </div>
    <!-- Main Header End -->
</header>
