{% assign t = site.tags.translations[0] %}

<div class="latest-posts">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 com-sm-12 col-xs-12">
                <h3 class="title">&Uacute;ltimas Postagens</h3>
            </div>
            <div class="clearfix"></div>
            <div class="blog-showcase col-lg-12 col-md-12 col-sm-12 col-xs-12 animate_afb d1">
                <ul>
					{% for post in site.categories.blog limit:3 %}
				
						<li>
							{% if post.image %}
							<div class="blog-showcase-thumb col-lg-4">								
								<div class="post-body">
                                    <a href="{{ post.url }}"><img alt="" src="{{ post.image }}"></a>
                                </div>								 
							</div>
							{% endif %}
							<div class="blog-showcase-extra-info col-lg-4">
								{% capture day %}{{post.date | date: "%d"}}{% endcapture %}
								{% capture month %}{{post.date | date: "%B"}}{% endcapture %}
								{% capture year %}{{post.date | date: "%Y"}}{% endcapture %}          
								
								<span><a href="{{ post.url }}">{{ day }} {{ t.[page.lang].blog.abbr.[month] }} {{ year }}</a></span>
								<h4><a href="{{ post.url }}" class="title">{{ post.title }}</a></h4>
								<p>{{ post.content | strip_html | truncatewords:85}}</p>
								<a href="{{ post.url }}">Leia mais <i class="icon-double-angle-right"></i></a>
							</div>
						</li>
					
					{% endfor %}					
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="divider"></div>
    </div>
</div>
