<!-- Main Content start-->
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="content-box big ch-item bottom-pad-small">
                    <div class="ch-info-wrap">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-1"><i class="icon-off"></i></div>
                            <div class="ch-info-back">
                                <i class="icon-off"></i>
                            </div>
                        </div>
                    </div>
                    <div class="content-box-info">
                        <h3>Porquê?</h3>
                        <p>Porque fazemos o que fazemos?<br />
                        Porque saímos da cama de manhã?<br />
                        Porque alguém vai se importar com isso?<br />
                        Porque isso vai ajudar você e os demais?</p>
                        <a href="about.html#why">Saiba Mais <i class="icon-angle-right"></i><i class="icon-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="content-box big ch-item bottom-pad-small">
                    <div class="ch-info-wrap">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-1"><i class="icon-refresh"></i></div>
                            <div class="ch-info-back">
                                <i class="icon-refresh"></i>
                            </div>
                        </div>
                    </div>
                    <div class="content-box-info">
                        <h3>Como Fazemos?</h3>
                        <p>Que tecnologias usamos?<br />
                        Qual o nosso posicionamento?<br />
                        Como usamos os recursos disponíveis?<br />
                        Como tudo isso ajuda nossos parceiros?</p>
                        <a href="about.hml#how">Saiba Mais <i class="icon-angle-right"></i><i class="icon-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="content-box big ch-item">
                    <div class="ch-info-wrap">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-1"><i class="icon-ok"></i></div>
                            <div class="ch-info-back">
                                <i class="icon-ok"></i>
                            </div>
                        </div>
                    </div>
                    <div class="content-box-info">
                        <h3>O Que Fazemos?</h3>
                        <p>Que soluções temos disponíveis?<br />
                        Como contribuem para o seu negócio?<br />
                        Como elas se adequam ao seu cotidiano?<br />
                        Como juntos levamos <strong>seu sonho</strong> mais alto?</p>
                        <a href="about.hml#what">Saiba Mais <i class="icon-angle-right"></i><i class="icon-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Content end-->
