<div class="our-clients">
    <div class="container">
        <div class="row">
            <div class="client">
                <div class="client-logo">
                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
						{% include clients.html %}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        {% include testimonials.html %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
