<div class="content">
	<div class="container">
		<div class="row">
			<h2 style="padding-left:15px;">Porquê ?!</h2>
			<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
				<div class="accordionMod panel-group">
					<div class="accordion-item">
						<h4 class="accordion-toggle">Porque fazemos os nossos projetos com excelência?</h4>
						<section class="accordion-inner panel-body">
							<p>
							Porque acreditamos que empresas de qualquer porte, segmento de atuação, independente do volume de negócios, devem ter acesso as informações relevantes em tempo real, para que possam tomar decisões estratégicas em qualquer lugar a qualquer momento, melhorando assim sua competitividade.
							</p>
							<p>
							O acesso à informação estratégica tem de ser democratizado!
							</p>
						</section>
					</div>
					<div class="accordion-item">
						<h4 class="accordion-toggle">Porque saímos da cama de manhã?</h4>
						<section class="accordion-inner panel-body">
							<p>
							Porque acreditamos que através da disponibilização de uma tecnologia altamente sofisticada e intuitiva, mas com um preço extremamente competitivo, podemos criar um diferêncial para nossos clientes, acrescentando valor as empresas e aos negócios.<br />						
							<strong>Termos a certeza que podemos fazer essa diferença é a nossa maior motivação.</strong></p>
						</section>
					</div>
					<div class="accordion-item">
						<h4 class="accordion-toggle">Porque alguém vai se importar com isso?</h4>
						<section class="accordion-inner panel-body">
							<p>Acreditamos que o aumento de eficiência em cada organização, contribui individualmente para uma melhoria geral e em consequência de toda a economia. A soma do todo é maior que a soma dos ganhos individuais de cada uma!<br />
							<strong>Melhorando assim a eficiência das empresas causamos um grande impacto na qualidade de vida dos profissionais envolvidos, suas famílias e na sociedade em geral.</strong></p>
						</section>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
				<div class="img-content">
				   <img src="/img/porque-fazemos.jpg" />
                </div>
			</div>
		</div>
		<div class="divider"></div>
		<div class="row">
			<h2 style="padding-left:15px;">Como Fazemos?</h2>
			<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
				<div class="accordionMod panel-group">
					<div class="accordion-item">
						<h4 class="accordion-toggle">Descobrindo quais são realmente as soluções!</h4>
						<section class="accordion-inner panel-body">
							<p>A análise minuciosa e o conhecimento profundo dos processos de cada negócio são pilares básicos para a identificação das soluções certas para cada empresa, não existem duas empresas iguais. Estando na vanguarda tecnológica, oferecemos as melhores soluções caso a caso.<br />
							As tecnologias de redes de comunicações, a Internet, o surgimento do conceito computação em núvem (<strong>Cloud Computing ou HaaS</strong>) têm evoluido de forma sistemática. Assente nessa infra-estrutura física bem distribuída, e de custos extremamente competitivos, que liga praticamente toda a sociedade, a comunidade código aberto (<strong>Open Source</strong>) desenvolve e disponibiliza uma enorme quantidade de software livre de alta qualidade, seguro, para ser usado, modificado, melhorado e integrado. O surgimento do conceito de software como serviço (<strong>SaaS</strong>) só foi possível graças a estes desenvolvimentos recentes.<br />
							Este tipo de conceitos permitem que todos possam beneficiar de software de qualidade com grande segurança e flexibilidade, sem que para isso tenham que fazer grandes investimentos em infra-estruturas de redes e servidores, mas mais importante ainda em licenças de software.</p>
						</section>
					</div>
					<div class="accordion-item">
						<h4 class="accordion-toggle">Que alternativas disponibilizamos?</h4>
						<section class="accordion-inner panel-body">
							<p>Utilizando serviços de computação em nuvem podemos disponibilizar uma solução de software em modelo SaaS e não só.<br />
							O estudo e foco na usabilidade e simplicação permanente de processos, descomplica as tarefas do dia a dia e libera mais tempo para o mais importante.<br />
							Além disso a adopção do SaaS tem as seguintes vantagens:
							<ul>
								<li>* Redução significativa do tempo de implementação!</li>
								<li>* Custo extremamente reduzido;</li>
								<li>* Sem investimento em licenças, manutenções, administração e hardware;</li>
								<li>* Facilidade e flexibilidade de uso já que é operada através de um browser;</li>
								<li>* Migração e evolução para novas versões. Sem trauma para o cliente;</li>
								<li>* Escalabilidade! O aumento do poder de processamento, memória e armazenamento é dinâmica.</li>
							</ul>
							</p>
						</section>
					</div>
					<div class="accordion-item">
						<h4 class="accordion-toggle">Como tudo isto ajuda as empresas?</h4>
						<section class="accordion-inner panel-body">
							<p>Com esta ferramenta de Gestão Empresarial nossos clientes podem manter o foco no seu core business, ganhar agilidade com baixo custo de implementação, garantindo centralizar o investimento nas áreas que permitem agregar mais valor.</p>
						</section>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
				<div class="img-content">
				   <img src="/img/como-fazemos.jpg" />
                </div>
			</div>
		</div>
	</div>
</div>
<div class="divider"></div>
{% include contact-us.html %}
<div class="content">
	<div class="container">
		<div class="row">
			<h2 style="padding-left:15px;">O Que Fazemos?</h2>
			<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
				<div class="accordionMod panel-group">
					<div class="accordion-item">
						<h4 class="accordion-toggle">Que soluções oferecemos?</h4>
						<section class="accordion-inner panel-body">
							<p>A Thinkopen Solutions Brasil disponibiliza um <a href="/servicos">ERP completo em SaaS</a>!<br />
							Somos especialistas em ERP open-source. ERP 100% web para parceiros (B2B) e cliente final (B2C).<br />
							Esta solução é indicada principalmente para pequenas e médias empresas (80% do tecido empresarial), pois permite que estas tenham acesso a um software de gestão completo e seguro sem terem que fazer um investimento grande em hardware e infraestrutura.<br />
							A nossa abordagem difere das restantes empresas que prestam este serviço, em permitir que um parceiro use sua imagem, seus processos particulares, personalizando o sistema a si e seus clientes. Ou sendo um cliente final à sua empresa ou organização.</p>
						</section>
					</div>
					<div class="accordion-item">
						<h4 class="accordion-toggle">Como contribuem para o seu negócio?</h4>
						<section class="accordion-inner panel-body">
							<p>
							Acreditamos que o aumento de eficiência em cada organização, contribui individualmente para uma melhoria geral das outras organizações e em consequência de toda a economia.
							</p>
							<p>
							O que torna o nosso ERP atraente é o seu baixo custo de implantação, segurança, estabilidade e flexibilidade. Além da excelente e completa gama de funcionalidades. Por se tratar de um ERP baseado em open source os custos com licenças são abolidos o que garante mais capital para customizações de forma a atender, de maneira mais eficiente as necessidades do cliente.
							</p>
							<p>Melhorando assim a eficiência das empresas causamos um grande impacto na qualidade de vida dos profissionais envolvidos, suas famílias e em última instância na sociedade em geral.</p>
						</section>
					</div>
					<div class="accordion-item">
						<h4 class="accordion-toggle"><span style="text-transform:capitalize;">Como {% include company-slogan.html %}</span></h4>
						<section class="accordion-inner panel-body">
							<p>Se você está pronto para levar sua empresa para o próximo nível, iremos mostrar o que é possível, e acima de tudo como você pode considerar que tem realmente os meios e vontade para chegar lá.<br />
							Medimos o nosso sucesso pela forma como podemos contribuir para o seu.</p>
							<p>
							Se já atua na área de Consultoria de Serviços Informáticos, se integra software de gestão ou simplesmente fornece serviços a empresas, sejam quais sejam, agora tem a possibilidade de distribuir um ERP através do nosso software como serviço (SaaS – Software as a Service). Poderá ver em pouco tempo como crescem seus rendimentos porque lhe oferecemos uma solução segura, estável e flexível a seus clientes.<br />
							Existem duas formas de distribuir os serviços de ThinkOpen Solutions: como distribuidor dos nossos serviços, ou vendendo nosso software com a sua própria marca. Escolha a modalidade que mais se ajusta ao seu perfil e comece um próspero negócio que só lhe trará bons resultados.
							</p>
						</section>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
				<div class="img-content">
				   <img src="/img/o-que-fazemos.jpg" />
                </div>
			</div>			
		</div>
		<div class="divider"></div>
	</div>
</div>
