<div class="content">
	<div class="container">
		<div class="row">
			<h2 style="padding-left:15px;">Porquê ?!</h2>
			<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
				<div class="accordionMod panel-group">
					<div class="accordion-item">
						<h4 class="accordion-toggle">Porque fazemos o que fazemos?</h4>
						<section class="accordion-inner panel-body">
							<p>
							Criamos a fábrica de software porque acreditamos que todos os gestores, independente da dimensão da sua empresa ou organização, independente do volume do seu negócio, e também da sua formação, experiência, tempo e recursos disponíveis, devem ter acesso as informações atualizadas, relevantes e precisas, para que possam tomar as melhores decisões para sua empresa.
							</p>
						</section>
					</div>
					<div class="accordion-item">
						<h4 class="accordion-toggle">Porque saímos da cama de manhã?</h4>
						<section class="accordion-inner panel-body">
							<p>
							Porque acreditamos que podemos criar um diferencial para os nossos clientes, criando valor acrescentado as suas empresas e negócios.<br />						
							<strong>Saber que podemos fazer a diferença nesse processo de mudança e contribuir um pouco que seja é a nossa maior motivação.</strong></p>
						</section>
					</div>
					<div class="accordion-item">
						<h4 class="accordion-toggle">Porque alguém vai se importar com isso?</h4>
						<section class="accordion-inner panel-body">
							<p>Acreditamos que o aumento de eficiência em cada organização, contribui individualmente para uma melhoria geral das outras organizações e em consequência de toda a economia. A soma do todo é maior que a soma dos ganhos individuais de cada uma!<br />
							<strong>Melhorando assim a eficiência das empresas causamos um grande impacto na qualidade de vida dos profissionais envolvidos, suas famílias e em última instância na sociedade em geral.</strong></p>
						</section>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
				<div class="img-content">
				   <img src="/img/porque-fazemos.jpg" />
                </div>
			</div>
		</div>
		<div class="divider"></div>
		<div class="row">
			<h2 style="padding-left:15px;">Como Fazemos?</h2>
			<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
				<div class="accordionMod panel-group">
					<div class="accordion-item">
						<h4 class="accordion-toggle">Que tecnologias usamos?</h4>
						<section class="accordion-inner panel-body">
							<p>Desde as tecnologias de redes de comunicações, a Internet, o surgimento do conceito computação em núvem (<strong>Cloud Computing ou HaaS</strong>). Assente nessa infra-estrutura física bem distribuída e, de custos reduzidos que liga praticamente toda a sociedade, a comunidade código aberto (<strong>Open Source</strong>) desenvolve e disponibiliza uma enorme quantidade de software livre de alta qualidade, seguro, para ser usado, modificado, melhorado e integrado. O surgimento do conceito de software como serviço (<strong>SaaS</strong>) só foi possível graças a estes desenvolvimentos recentes.<br />
							Este tipo de conceitos permitem que todos possam beneficiar de software de qualidade com grande segurança e flexibilidade, sem que para isso tenham que fazer grandes investimentos em infra-estruturas de rede e servidores, mas mais importante ainda em licenças de software.</p>
						</section>
					</div>
					<div class="accordion-item">
						<h4 class="accordion-toggle">Como as utilizamos em nosso benefício?</h4>
						<section class="accordion-inner panel-body">
							<p>Utilizando serviços de computação em núvem podemos disponibilizar uma solução de software em modelo SaaS. A adopção deste conceito tem as seguintes vantagens:
							<ul>
								<li>* Redução significativa do tempo de implementação, basta cadastrar e usar!</li>
								<li>* Custo Reduzido! Sem preocupação com licenças, manutenções, administração e hardware;</li>
								<li>* Facilidade e flexibilidade de uso. Solução 100% web, acessível via internet;</li>
								<li>* Migração e evolução para novas versões;</li>
								<li>* Escalabilidade, nunca foi tão fácil! A alocação de poder de processamento, memória e armazenamento é dinâmica.</li>
							</ul>
							</p>
						</section>
					</div>
					<div class="accordion-item">
						<h4 class="accordion-toggle">Como tudo isto ajuda nossos parceiros?</h4>
						<section class="accordion-inner panel-body">
							<p>...</p>
						</section>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
				<div class="img-content">
				   <img src="/img/como-fazemos.jpg" />
                </div>
			</div>
		</div>
	</div>
</div>
<div class="divider"></div>
{% include contact-us.html %}
<div class="content">
	<div class="container">
		<div class="row">
			<h2 style="padding-left:15px;">O Que Fazemos?</h2>
			<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
				<div class="accordionMod panel-group">
					<div class="accordion-item">
						<h4 class="accordion-toggle">Que soluções oferecemos?</h4>
						<section class="accordion-inner panel-body">
							<p>A Thinkopen Solutions Brasil disponibiliza um <a href="/servicos">ERP completo em SaaS</a>!</p>
							<p>
							Somos especialistas em ERP open-source. ERP 100% web para parceiros (B2B) e cliente final (B2C).
							Esta solução é indicada principalmente para pequenas e médias empresas (80% do tecido empresarial), pois permite que estas tenham acesso a um software de gestão completo e seguro sem que fazer um investimento grande em hardware e infraestrutura.<br />
							A nossa abordagem é que difere das restantes empresas que prestam este serviço, que é a de permitir que um parceiro use sua imagem, seus processos, particulares personalizando o sistema a si e seus clientes, ou sendo um cliente final à sua empresa ou organização.</p>
						</section>
					</div>
					<div class="accordion-item">
						<h4 class="accordion-toggle">Como contribuem para o seu negócio?</h4>
						<section class="accordion-inner panel-body">
							<p>
							Acreditamos que o aumento de eficiência em cada organização, contribui individualmente para uma melhoria geral das outras organizações e em consequência de toda a economia.
							</p>
							<p>
							O que torna o nosso ERP atraente é o seu baixo custo de implantação, segurança, estabilidade e flexibilidade. Além da excelente e completa gama de funcionalidades. Por se tratar de um ERP baseado em open source os custos com licenças são abolidos o que garante mais capital para customizações de forma a atender, de maneira mais eficiente as necessidades do cliente.
							</p>
							<p>Melhorando assim a eficiência das empresas causamos um grande impacto na qualidade de vida dos profissionais envolvidos, suas famílias e em última instância na sociedade em geral.</p>
						</section>
					</div>
					<div class="accordion-item">
						<h4 class="accordion-toggle"><span style="text-transform:capitalize;">Como {% include company-slogan.html %}</span></h4>
						<section class="accordion-inner panel-body">
							<p>
							Se já atua na área de Consultoria de Serviços Informáticos, integra software de gestão em empresas ou simplesmente fornece serviços a empresas, sejam quais sejam, agora tem a possibilidade de distribuir os serviços de Software como Serviço (SaaS – Software as a Service).
							</p>
							<p>
							Poderá ver em pouco tempo como crescem seus rendimentos porque lhe oferecemos uma solução segura, estavel e flexível a seus clientes.
							</p>
							<p>
							Existem duas formas de distribuir os serviços de ThinkOpen Solutions: como distribuidor dos nossos serviços, ou vendendo nosso software com a sua própria marca. Escolha a modalidade que mais se ajusta ao seu perfil e comece um próspero negócio que só lhe trará bons resultados.
							</p>
						</section>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
				<div class="img-content">
				   <img src="/img/o-que-fazemos.jpg" />
                </div>
			</div>			
		</div>
		<div class="divider"></div>
	</div>
</div>
