<div class="follow widget">
    <h3 class="title">Siga-nos</h3>
    <div class="member-social dark">
        <a class="facebook" href="{% include url-facebook.html %}"><i class="icon-facebook"></i></a>
        <a class="twitter" href="{% include url-twitter.html %}"><i class="icon-twitter"></i></a>
        <a class="linkedin" href="{% include url-linkedin.html %}"><i class="icon-linkedin"></i></a>
        <a class="gplus" href="{% include url-gplus.html %}"><i class="icon-google-plus"></i></a>
        <a class="youtube" href="{% include url-youtube.html %}"><i class="icon-youtube-play"></i></a>
    </div>
</div>
