<div class="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3 class="title">Mais Serviços</h3>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-4 col-md-4 col-sm-4 bottom-pad">
                <div class="content-box ch-item">
                    <div class="ch-info-wrap">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-1"><i class="icon-pencil"></i></div>
                            <div class="ch-info-back">
                                <i class="icon-pencil"></i>
                            </div>
                        </div>
                    </div>
                    <div class="content-box-info">
                        <h4>Colégio 360º</h4>
                        <p>
						Administre as áreas mais importantes como secretaria, pedagógico, professores, financeiro, recursos humanos, almoxarifado, eventos, frota e outros.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 bottom-pad">
                <div class="content-box ch-item">
                    <div class="ch-info-wrap">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-1"><i class="icon-briefcase"></i></div>
                            <div class="ch-info-back">
                                <i class="icon-briefcase"></i>
                            </div>
                        </div>
                    </div>
                    <div class="content-box-info">
                        <h4>Contador 360º</h4>
                        <p>
                        Administre as áreas mais importantes como contas a pagar, contas a receber, financeiro, recursos humanos e outros.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 bottom-pad">
                <div class="content-box ch-item">
                    <div class="ch-info-wrap">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-1"><i class="icon-truck"></i></div>
                            <div class="ch-info-back">
                                <i class="icon-truck"></i>
                            </div>
                        </div>
                    </div>
                    <div class="content-box-info">
                        <h4>Transportes 360º</h4>
                        <p>
                        Administre as áreas mais importantes como contas a pagar, contas a receber, financeiro, recursos humanos e outros.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="content-box ch-item">
                    <div class="ch-info-wrap">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-1"><i class="icon-credit-card"></i></div>
                            <div class="ch-info-back">
                                <i class="icon-credit-card"></i>
                            </div>
                        </div>
                    </div>
                    <div class="content-box-info">
                        <h4>Comercio 360º</h4>
                        <p>
                        Administre as áreas mais importantes como contas a pagar, contas a receber, financeiro, recursos humanos e outros.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="content-box ch-item">
                    <div class="ch-info-wrap">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-1"><i class="icon-food"></i></div>
                            <div class="ch-info-back">
                                <i class="icon-food"></i>
                            </div>
                        </div>
                    </div>
                    <div class="content-box-info">
                        <h4>Restaurante 360º</h4>
                        <p>
                        Administre as áreas mais importantes como contas a pagar, contas a receber, estoque, almoxarifado, financeiro e outros.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="content-box ch-item">
                    <div class="ch-info-wrap">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-1"><i class="icon-building"></i></div>
                            <div class="ch-info-back">
                                <i class="icon-building"></i>
                            </div>
                        </div>
                    </div>
                    <div class="content-box-info">
                        <h4>Condominio 360º</h4>
                        <p>
                        Administre as áreas mais importantes como contas a pagar, contas a receber, financeiro, recursos humanos e outros.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
