<div class="content">
	<div class="container">
		<div class="row">
		    <div class="posts-block col-lg-9 col-md-8 col-sm-8 col-xs-12">
		        <article>
		            <h3 class="title">Como Funcionamos?</h3>
		            <div class="post-content">
				        <div class="img-content">
				            <img src="/img/escritorio_sao_paulo.jpg" alt="">
				        </div>
		                <p>A Thinkopen Solutions Brasil (TKOBR) disponibiliza um <a href="/servicos">ERP completo em SaaS</a>!</p>
		                <p>Esta solução é indicada <strong>principalmente para pequenas e médias empresas</strong> (80% do tecido empresarial), pois permite que estas tenham acesso a um software de gestão completo e seguro sem ter que fazer um investimento grande em hardware e infraestrutura (SaaS e PaaS).</p>
		                <p>A nossa abordagem difere das restantes empresas que prestam este serviço.</p>
		                <p>Nosso interesse é <strong>otimizar o uso da plataforma</strong> com objetivo de obter a melhor informação gerêncial para tomada de decisões.</p>
		                <p>Permitimos assim que cada empresa customize seus processos, personalizando o sistema à sua realidade, e relatórios baseados em dashboards que o próprio pode criar e manter.</p>
						{% include company-slogan.html %}
		            </div>
		        </article>
		    </div>
		    <!-- Left Section End -->
		    <!-- Skill Section Start -->
		    <div class="choice col-lg-3 col-md-4 col-sm-4 col-xs-12">
		        <h3 class="title">Nossas Garantias</h3>
		        <ul class="check-list why">
		            <li>Qualidade Profissional</li>
		            <li>Implementações Primorosas</li>
		            <li>Cumprimentos de Prazos</li>
		            <li>Suporte Rápido e Eficaz</li>
		            <li>Segurança da Sua Informação</li>
		        </ul>
		    </div>
		    <!-- Skill Section Start -->
		</div>
		<div class="divider"></div>
	    <div class="row">
	        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	            <h3 class="title">A Nossa Diferença</h3>
	        </div>
			{% include services-three.html %}
        </div>
	</div>
	<!--
	{% include services-more.html %}
	<div class="divider"></div>
	-->
	{% include contact-us.html %}
	<div class="divider"></div>
	{% include three-reasons.html %}
</div>
