<div class="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3 class="title">Mais Serviços</h3>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-4 col-md-4 col-sm-4 bottom-pad">
                <div class="content-box ch-item">
                    <div class="ch-info-wrap">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-1"><i class="icon-fullscreen"></i></div>
                            <div class="ch-info-back">
                                <i class="icon-fullscreen"></i>
                            </div>
                        </div>
                    </div>
                    <div class="content-box-info">
                        <h4>Responsive Layout</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of Lorem the printing and typesettings.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 bottom-pad">
                <div class="content-box ch-item">
                    <div class="ch-info-wrap">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-1"><i class="icon-eye-open"></i></div>
                            <div class="ch-info-back">
                                <i class="icon-eye-open"></i>
                            </div>
                        </div>
                    </div>
                    <div class="content-box-info">
                        <h4>Retina Ready</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of Lorem the printing and typesettings.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 bottom-pad">
                <div class="content-box ch-item">
                    <div class="ch-info-wrap">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-1"><i class="icon-edit"></i></div>
                            <div class="ch-info-back">
                                <i class="icon-edit"></i>
                            </div>
                        </div>
                    </div>
                    <div class="content-box-info">
                        <h4>Rich Elements</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of Lorem the printing and typesettings.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="content-box ch-item">
                    <div class="ch-info-wrap">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-1"><i class="icon-leaf"></i></div>
                            <div class="ch-info-back">
                                <i class="icon-leaf"></i>
                            </div>
                        </div>
                    </div>
                    <div class="content-box-info">
                        <h4>Unique Design</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of Lorem the printing and typesettings.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="content-box ch-item">
                    <div class="ch-info-wrap">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-1"><i class="icon-cog"></i></div>
                            <div class="ch-info-back">
                                <i class="icon-cog"></i>
                            </div>
                        </div>
                    </div>
                    <div class="content-box-info">
                        <h4>New Approach</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of Lorem the printing and typesettings.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="content-box ch-item">
                    <div class="ch-info-wrap">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-1"><i class="icon-search"></i></div>
                            <div class="ch-info-back">
                                <i class="icon-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="content-box-info">
                        <h4>SEO Ready</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of Lorem the printing and typesettings.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
