<div class="divider"></div>
<div class="container">
	<div class="row">
		<div class="divider"></div>		
		<div class="col-lg-4 col-md-4 col-sm-4 animate_afc d1">
			<div class="content-box big ch-item bottom-pad-small">
				<div class="ch-info-wrap">
					<div class="ch-info">
						<div class="ch-info-front ch-img-1"><i class="icon-cloud"></i></div>
						<div class="ch-info-back">
							<i class="icon-cloud"></i>
						</div>
					</div>
				</div>
				<div class="content-box-info">
					<h3>ERP na Nuvem (SaaS)</h3>
					<p>
						A modalidade de ERP na nuvem fornecida pela ThinkOpen Solutions (TKO), é comercializada no modelo SaaS (Software as a Service), ou seja, um software como serviço.<br/>Por funcionar na nuvem é seguro, estável e confiável.
					</p>
				</div>
				<div class="content-box-info">
					<a class="btn-color btn-normal btn-pad" href="https://demo7.thinkopensolutions.com/?db=demo&amp;user=demo&amp;password=demo">Teste Já!</a>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 animate_afc d2">
			<div class="content-box big ch-item bottom-pad-small">
				<div class="ch-info-wrap">
					<div class="ch-info">
						<div class="ch-info-front ch-img-1"><i class="icon-desktop"></i></div>
						<div class="ch-info-back">
							<i class="icon-desktop"></i>
						</div>
					</div>
				</div>
				<div class="content-box-info">
					<h3>Informação em Tempo Real</h3>
					<p>
					Sistema de gestão empresarial online Completamente adaptado a sua empresa e seus processos. Além de funcionar na núvem é implantado em tempo recorde e com interface intuitiva... é tanto benefício que não cabe em uma frase.
					</p>
				</div>
				<div class="content-box-info">
					<a class="btn-color btn-normal btn-pad" href="/contato/">Veja Como!</a>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 animate_afc d3">
			<div class="content-box big ch-item">
				<div class="ch-info-wrap">
					<div class="ch-info">
						<div class="ch-info-front ch-img-1"><i class="icon-code"></i></div>
						<div class="ch-info-back">
							<i class="icon-code"></i>
						</div>
					</div>
				</div>
				<div class="content-box-info">
					<h3>RAD - Atelier de Software</h3>
					<p>
					Nossos sistemas são construídos a partir do Seu Modelo de Negócio, nossa metodologia de desenvolvimento foca na qualidade final. Isso quer dizer que os objetivos estratégicos e realistas do seu negócio são a base das soluções que lhe oferecemos. 
					</p>
				</div>
				<div class="content-box-info">
					<a class="btn-color btn-normal btn-pad" href="/contato/">Contrate Já!</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="divider"></div>
