<div class="divider"></div>
<div class="container">
    <div class="row">
        <div class="posts-block col-lg-9 col-md-8 col-sm-8 col-xs-12">
            <article>
                <h3 class="title">Atitudes</h3>
                <div class="post-content">
                    <div class="img-content">
                        <img src="/img/familia.jpg" alt="">
                    </div>
                    <p>
                    Na Thinkopen Solutions Brasil seguimos altos padrões, para nós e nossos clientes. Temos como objectivo relações win-win de longo prazo.<br>
                    Um sistema ERP tem o potêncial de projetar seu negócio a novos patamares de sucesso, mas como um cirurgião diante de uma operação complexa, não seguimos em frente a menos que você concorde em ser um parceiro igual no processo. Nós queremos que você leve o seu trabalho conosco tão a sério como o que fazemos.<br>
                    Esteja preparado para colocar tanto em seu projeto, como nós o fazemos, e tratar isso como uma das decisões de negócios mais importantes que você vai fazer!<br />
                    Se você está pronto para levar sua empresa para o próximo nível, iremos mostrar o que é possível, e acima de tudo como você pode considerar que tem realmente os meios e vontade para chegar lá.<br>
                    <strong>Medimos o nosso sucesso pela forma como podemos contribuir para o seu.</strong><br>
                    </p>
                </div>
            </article>
        </div>
        <!-- Left Section End -->
        <!-- Skill Section Start -->
        <div class="choice col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h3 class="title">Nossas Garantias</h3>
            <ul class="check-list why">
                <li>Qualidade Profissional</li>
                <li>Implementações Primorosas</li>
                <li>Cumprimentos de Prazos</li>
                <li>Suporte Rápido e Eficaz</li>
                <li>Segurança da Sua Informação</li>
            </ul>
        </div>
        <!-- Skill Section Start -->
    </div>
</div>
<div class="divider"></div>
{% include services-three.html %}
<div class="divider"></div>
{% include contact-us.html %}
<div class="divider"></div>
{% include services-more.html %}
<div class="divider"></div>
{% include three-reasons.html %}
