<div class="content">
	<div class="container">
		<div class="row">
		    <div class="posts-block col-lg-9 col-md-8 col-sm-8 col-xs-12">
		        <article>
		            <h3 class="title">Como Funcionamos?</h3>
		            <div class="post-content">
				        <div class="img-content">
				            <img src="/img/escritorio_sao_paulo.jpg" alt="">
				        </div>
		                <p>A Thinkopen Solutions Brasil disponibiliza um <a href="/servicos">ERP completo em SaaS</a>!<br />
							Esta solução é indicada principalmente para pequenas e médias empresas (80% do tecido empresarial), pois permite que estas tenham acesso a um software de gestão completo e seguro sem que fazer um investimento grande em hardware e infraestrutura.<br />
							A nossa abordagem é que difere das restantes empresas que prestam este serviço, que é a de permitir que um parceiro use sua imagem, seus processos, particulares personalizando o sistema a si e seus clientes, ou sendo um cliente final à sua empresa ou organização.</p>
		            </div>
		        </article>
		    </div>
		    <!-- Left Section End -->
		    <!-- Skill Section Start -->
		    <div class="choice col-lg-3 col-md-4 col-sm-4 col-xs-12">
		        <h3 class="title">Nossas Garantias</h3>
		        <ul class="check-list why">
		            <li>Qualidade Profissional</li>
		            <li>Implementações Primorosas</li>
		            <li>Cumprimentos de Prazos</li>
		            <li>Suporte Rápido e Eficaz</li>
		            <li>Segurança da Sua Informação</li>
		        </ul>
		    </div>
		    <!-- Skill Section Start -->
		</div>
	</div>
	<div class="divider"></div>
	{% include services-three.html %}
	<div class="divider"></div>
	{% include contact-us.html %}
	<div class="divider"></div>
	{% include services-more.html %}
	<div class="divider"></div>
	{% include three-reasons.html %}
</div>
