<div class="fullwidthbanner-container">
    <div class="fullwidthbanner rslider">
        <ul>
            <!-- THE FIRST SLIDE -->
            <li data-delay="6000" data-masterspeed="300" data-transition="fade">
                <div class="slotholder"><img src="/img/slider/slider-bg-1.jpg" data-fullwidthcentering="on" alt="Pixma"></div>
                <div class="caption modern_big_bluebg h1 lft tp-caption start"
                    data-x="25"
                    data-y="85"
                    data-speed="700"
                    data-endspeed="800"
                    data-start="1000"
                    data-easing="easeOutQuint"
                    data-endeasing="easeOutQuint">
                    <h3>BENEFÍCIOS GARANTIDOS</h3>
                </div>
                <div class="caption list_slide lfb tp-caption start" 
                    data-easing="easeOutExpo" 
                    data-start="1400" 
                    data-speed="1050" 
                    data-y="160" 
                    data-x="25">
                    <div class="list-slide" style="background-color: rgba(255,255,255,0.2); height: 240px; width: 425px; border-radius: 5px;"></div>
                </div>
                <div class="caption list_slide lfb tp-caption start" 
                    data-easing="easeOutExpo" 
                    data-start="1400" 
                    data-speed="1050" 
                    data-y="180" 
                    data-x="40">
                    <div class="list-slide">
                        <i class="icon-calendar slide-icon"></i>
                        <h5> Informação Gerêncial em Tempo Real </h5>
                    </div>
                </div>
                <div class="caption list_slide lfb tp-caption start" 
                    data-easing="easeOutExpo" 
                    data-start="1800" 
                    data-speed="1200" 
                    data-y="220" 
                    data-x="40">
                    <div class="list-slide">
                        <i class="icon-folder-close slide-icon"></i>
                        <h5> Eliminação das Planilhas </h5>
                    </div>
                </div>
                <div class="caption list_slide lfb tp-caption start" 
                    data-easing="easeOutExpo" 
                    data-start="2200" 
                    data-speed="1350" 
                    data-y="260" 
                    data-x="40">
                    <div class="list-slide">
                        <i class="icon-sort-by-attributes-alt slide-icon"></i>
                        <h5> Redução de Custos Operacionais </h5>
                    </div>
                </div>
                <div class="caption lfb caption_button_1 fadeout tp-caption start"
                    data-x="40"
                    data-y="330"
                    data-speed="900"
                    data-endspeed="300"
                    data-start="2700"
                    data-hoffset="-70"
                    data-easing="easeOutExpo">
                    <a class="btn-special hidden-xs btn-grey" href="#">Saiba Mais</a>
                </div>
                <div class="caption lfb caption_button_2 fadeout tp-caption start"
                    data-x="210"
                    data-y="330"
                    data-speed="800"
                    data-endspeed="300"
                    data-start="2900"
                    data-hoffset="70"
                    data-easing="easeOutExpo">
                    <a class="btn-special hidden-xs btn-grey" href="#">Experimente Agora</a>
                </div>
            </li>
            <!-- THE RESPONSIVE SLIDE -->
            <li data-transition="fade" data-slotamount="1" data-masterspeed="300">
                <img src="/img/slider/slider-bg-2.jpg" data-fullwidthcentering="on" alt="">
                <div class="caption large_text sft"
                    data-x="660"
                    data-y="54"
                    data-speed="300"
                    data-start="800"
                    data-easing="easeOutExpo"  >SOLUÇÃO ERP MODERNA</div>
                <div class="caption medium_text sfl"
                    data-x="689"
                    data-y="92"
                    data-speed="300"
                    data-start="1100"
                    data-easing="easeOutExpo"  >MAIS</div>
                <div class="caption large_text sfr"
                    data-x="738"
                    data-y="88"
                    data-speed="300"
                    data-start="1100"
                    data-easing="easeOutExpo"  ><span class="dblue">AVANÇADA DO MERCADO</span></div>
                <div class="caption list_slide lfb tp-caption start" 
                    data-easing="easeOutExpo" 
                    data-start="1400" 
                    data-speed="1050" 
                    data-y="160" 
                    data-x="650">
                    <div class="list-slide" style="background-color: rgba(255,255,255,0.9); height: 260px; width: 380px; border-radius: 5px;"></div>
                </div>
                <div class="caption list_slide lfb tp-caption start" 
                    data-easing="easeOutExpo" 
                    data-start="1400" 
                    data-speed="1050" 
                    data-y="180" 
                    data-x="660">
                    <div class="list-slide">
                        <i class="icon-eye-open slide-icon"></i>
                        <h5 class="dblue"> CRM </h5>
                    </div>
                </div>
                <div class="caption list_slide lfb tp-caption start" 
                    data-easing="easeOutExpo" 
                    data-start="1800" 
                    data-speed="1200" 
                    data-y="220" 
                    data-x="660">
                    <div class="list-slide">
                        <i class="icon-truck slide-icon"></i>
                        <h5 class="dblue"> COMPRAS VENDAS E STOCKS </h5>
                    </div>
                </div>
                <div class="caption list_slide lfb tp-caption start" 
                    data-easing="easeOutExpo" 
                    data-start="2200" 
                    data-speed="1350" 
                    data-y="260" 
                    data-x="660">
                    <div class="list-slide">
                        <i class="icon-bar-chart slide-icon"></i>
                        <h5 class="dblue"> CONTABILIDADE FINANCEIRA & ANALÍTICA </h5>
                    </div>
                </div>
                <div class="caption list_slide lfb tp-caption start" 
                    data-easing="easeOutExpo" 
                    data-start="2600" 
                    data-speed="1350" 
                    data-y="300" 
                    data-x="660">
                    <div class="list-slide">
                        <i class="icon-group slide-icon"></i>
                        <h5 class="dblue"> RECURSOS HUMANOS </h5>
                    </div>
                </div>
                <div class="caption list_slide lfb tp-caption start" 
                    data-easing="easeOutExpo" 
                    data-start="3000" 
                    data-speed="1350" 
                    data-y="340" 
                    data-x="660">
                    <div class="list-slide">
                        <i class="icon-dashboard slide-icon"></i>
                        <h5 class="dblue"> DASHBOARDS & KPIs </h5>
                    </div>
                </div>
                <div class="caption list_slide lfb tp-caption start" 
                    data-easing="easeOutExpo" 
                    data-start="3400" 
                    data-speed="1350" 
                    data-y="380" 
                    data-x="660">
                    <div class="list-slide">
                        <i class="icon-gears slide-icon"></i>
                        <h5 class="dblue"> +3.000 MÓDULOS </h5>
                    </div>
                </div>
                <div class="caption lfb caption_button_1 fadeout tp-caption start"
                    data-x="40"
                    data-y="365"
                    data-speed="900"
                    data-endspeed="300"
                    data-start="3500"
                    data-hoffset="-70"
                    data-easing="easeOutExpo">
                    <a class="btn-special hidden-xs btn-grey" href="#">Saiba Mais</a>
                </div>
                <div class="caption lfb caption_button_2 fadeout tp-caption start"
                    data-x="210"
                    data-y="365"
                    data-speed="800"
                    data-endspeed="300"
                    data-start="3700"
                    data-hoffset="70"
                    data-easing="easeOutExpo">
                    <a class="btn-special hidden-xs btn-grey" href="#">Experimente Agora</a>
                </div>
                <!--
                <div class="caption lfl"
                    data-x="53"
                    data-y="30"
                    data-speed="300"
                    data-start="1400"
                    data-easing="easeOutExpo">
                    <img src="/img/slider/responsive-imac.png" alt="iMac Responsive">
                </div>
                <div class="caption lfl"
                    data-x="323"
                    data-y="145"
                    data-speed="300"
                    data-start="1500"
                    data-easing="easeOutExpo">
                    <img src="/img/slider/responsive-ipad.png" alt="iPad Responsive">
                </div>
                <div class="caption lfl"
                    data-x="472"
                    data-y="253"
                    data-speed="300"
                    data-start="1600"
                    data-easing="easeOutExpo">
                    <img src="/img/slider/responsive-iphone.png" alt="iPhone Responsive">
                </div>
                -->
            </li>
            <!-- THE FIRST SLIDE -->
            <li data-delay="6000" data-masterspeed="300" data-transition="fade">
                <div class="slotholder"><img src="/img/slider/slider-bg-2.1.jpg" data-fullwidthcentering="on" alt="Pixma"></div>
                <div class="caption modern_big_bluebg h1 lft tp-caption start"
                    data-x="25"
                    data-y="85"
                    data-speed="700"
                    data-endspeed="800"
                    data-start="1000"
                    data-easing="easeOutQuint"
                    data-endeasing="easeOutQuint">
                    <h3>VANTAGENS OPERACIONAIS</h3>
                </div>
                <div class="caption list_slide lfb tp-caption start" 
                    data-easing="easeOutExpo" 
                    data-start="1400" 
                    data-speed="1050" 
                    data-y="160" 
                    data-x="25">
                    <div class="list-slide" style="background-color: rgba(255,255,255,0.2); height: 240px; width: 457px; border-radius: 5px;"></div>
                </div>
                <div class="caption list_slide lfb tp-caption start" 
                    data-easing="easeOutExpo" 
                    data-start="1400" 
                    data-speed="1050" 
                    data-y="180" 
                    data-x="40">
                    <div class="list-slide">
                        <i class="icon-thumbs-up slide-icon"></i>
                        <h5> Mais Eficiência e Produtividade </h5>
                    </div>
                </div>
                <div class="caption list_slide lfb tp-caption start" 
                    data-easing="easeOutExpo" 
                    data-start="1800" 
                    data-speed="1200" 
                    data-y="220" 
                    data-x="40">
                    <div class="list-slide">
                        <i class="icon-unlock-alt slide-icon"></i>
                        <h5> Alto Nível de Segurança </h5>
                    </div>
                </div>
                <div class="caption list_slide lfb tp-caption start" 
                    data-easing="easeOutExpo" 
                    data-start="2200" 
                    data-speed="1350" 
                    data-y="260" 
                    data-x="40">
                    <div class="list-slide">
                        <i class="icon-lightbulb slide-icon"></i>
                        <h5> BI - Inteligência de Negócio </h5>
                    </div>
                </div>
                <div class="caption lfb caption_button_1 fadeout tp-caption start"
                    data-x="40"
                    data-y="330"
                    data-speed="900"
                    data-endspeed="300"
                    data-start="2700"
                    data-hoffset="-70"
                    data-easing="easeOutExpo">
                    <a class="btn-special hidden-xs btn-grey" href="#">Saiba Mais</a>
                </div>
                <div class="caption lfb caption_button_2 fadeout tp-caption start"
                    data-x="240"
                    data-y="330"
                    data-speed="800"
                    data-endspeed="300"
                    data-start="2900"
                    data-hoffset="70"
                    data-easing="easeOutExpo">
                    <a class="btn-special hidden-xs btn-grey" href="#">Experimente Agora</a>
                </div>
            </li>
            <!-- THE RESPONSIVE SLIDE -->
            <li data-delay="20000" data-transition="fade" data-slotamount="1" data-masterspeed="300">
                <img src="/img/slider/slider-bg-2_.jpg" data-fullwidthcentering="on" alt="">
                <!--
                <div class="caption large_text sfr"
                    data-x="15"
                    data-y="210"
                    data-speed="2000"
                    data-start="1000"
                    data-easing="easeOutExpo"  ><img src="/img/slider/logo.png"/></div>
                -->
                <div class="caption lfb caption_button_1 fadeout tp-caption start"
                    data-x="15"
                    data-y="350"
                    data-speed="3100"
                    data-endspeed="300"
                    data-start="3000"
                    data-hoffset="-70"
                    data-easing="easeOutExpo">
                    <a class="btn-special hidden-xs btn-grey" href="#">Saiba Mais</a>
                </div>
                <div class="caption lfb caption_button_2 fadeout tp-caption start"
                    data-x="185"
                    data-y="350"
                    data-speed="3000"
                    data-endspeed="300"
                    data-start="3200"
                    data-hoffset="70"
                    data-easing="easeOutExpo">
                    <a class="btn-special hidden-xs btn-grey" href="#">Experimente Agora</a>
                </div>
                <!--
                <div class="caption large_text sft"
                    data-x="660"
                    data-y="54"
                    data-speed="300"
                    data-start="800"
                    data-easing="easeOutExpo"  >SOLUÇÃO ERP MODERNA</div>
                <div class="caption medium_text sfl"
                    data-x="689"
                    data-y="92"
                    data-speed="300"
                    data-start="1100"
                    data-easing="easeOutExpo"  >MAIS</div>
                <div class="caption large_text sfr"
                    data-x="738"
                    data-y="88"
                    data-speed="300"
                    data-start="1100"
                    data-easing="easeOutExpo"  ><span class="dblue">AVANÇADA DO MERCADO</span></div>
                <div class="caption list_slide lfb tp-caption start" 
                    data-easing="easeOutExpo" 
                    data-start="1400" 
                    data-speed="1050" 
                    data-y="160" 
                    data-x="650">
                    <div class="list-slide" style="background-color: rgba(255,255,255,0.9); height: 260px; width: 380px; border-radius: 5px;"></div>
                </div>
                <div class="caption list_slide lfb tp-caption start" 
                    data-easing="easeOutExpo" 
                    data-start="1400" 
                    data-speed="1050" 
                    data-y="180" 
                    data-x="660">
                    <div class="list-slide">
                        <i class="icon-eye-open slide-icon"></i>
                        <h5 class="dblue"> CRM </h5>
                    </div>
                </div>
                <div class="caption list_slide lfb tp-caption start" 
                    data-easing="easeOutExpo" 
                    data-start="1800" 
                    data-speed="1200" 
                    data-y="220" 
                    data-x="660">
                    <div class="list-slide">
                        <i class="icon-truck slide-icon"></i>
                        <h5 class="dblue"> COMPRAS VENDAS E STOCKS </h5>
                    </div>
                </div>
                <div class="caption list_slide lfb tp-caption start" 
                    data-easing="easeOutExpo" 
                    data-start="2200" 
                    data-speed="1350" 
                    data-y="260" 
                    data-x="660">
                    <div class="list-slide">
                        <i class="icon-bar-chart slide-icon"></i>
                        <h5 class="dblue"> CONTABILIDADE FINANCEIRA & ANALÍTICA </h5>
                    </div>
                </div>
                <div class="caption list_slide lfb tp-caption start" 
                    data-easing="easeOutExpo" 
                    data-start="2600" 
                    data-speed="1350" 
                    data-y="300" 
                    data-x="660">
                    <div class="list-slide">
                        <i class="icon-group slide-icon"></i>
                        <h5 class="dblue"> RECURSOS HUMANOS </h5>
                    </div>
                </div>
                <div class="caption list_slide lfb tp-caption start" 
                    data-easing="easeOutExpo" 
                    data-start="3000" 
                    data-speed="1350" 
                    data-y="340" 
                    data-x="660">
                    <div class="list-slide">
                        <i class="icon-dashboard slide-icon"></i>
                        <h5 class="dblue"> DASHBOARDS & KPIs </h5>
                    </div>
                </div>
                <div class="caption list_slide lfb tp-caption start" 
                    data-easing="easeOutExpo" 
                    data-start="3400" 
                    data-speed="1350" 
                    data-y="380" 
                    data-x="660">
                    <div class="list-slide">
                        <i class="icon-gears slide-icon"></i>
                        <h5 class="dblue"> +3.000 MÓDULOS </h5>
                    </div>
                </div>
                <div class="caption lfl"
                    data-x="53"
                    data-y="30"
                    data-speed="300"
                    data-start="1400"
                    data-easing="easeOutExpo">
                    <img src="/img/slider/responsive-imac.png" alt="iMac Responsive">
                </div>
                <div class="caption lfl"
                    data-x="323"
                    data-y="145"
                    data-speed="300"
                    data-start="1500"
                    data-easing="easeOutExpo">
                    <img src="/img/slider/responsive-ipad.png" alt="iPad Responsive">
                </div>
                <div class="caption lfl"
                    data-x="472"
                    data-y="253"
                    data-speed="300"
                    data-start="1600"
                    data-easing="easeOutExpo">
                    <img src="/img/slider/responsive-iphone.png" alt="iPhone Responsive">
                </div>
                -->
            </li>
        </ul>
    </div>
</div>
