<div class="fullwidthbanner-container">
    <div class="fullwidthbanner rslider">
        <ul>
            <li data-delay="6000" data-masterspeed="300" data-transition="fade">
                <div class="slotholder"><img src="/img/slider/plain-hangar-rodrigobari.jpg" data-fullwidthcentering="on" alt="Benefícios Garantidos"></div>
                <div class="caption modern_big_bluebg h1 lft tp-caption start"
                    data-x="25"
                    data-y="85"
                    data-speed="700"
                    data-endspeed="800"
                    data-start="1000"
                    data-easing="easeOutQuint"
                    data-endeasing="easeOutQuint">
                    <h3>BENEFÍCIOS GARANTIDOS</h3></div>
                <div class="hide-small-screens">
		            <div class="caption list_slide lfb tp-caption start" 
		                data-easing="easeOutExpo" 
		                data-start="1400" 
		                data-speed="1050" 
		                data-y="160" 
		                data-x="25">
		                <div class="list-slide" style="background-color: rgba(255,255,255,0.4); height: 17.14em; width: 30.36em; border-radius: 0.36em;"></div></div>
		            <div class="caption list_slide lfb tp-caption start" 
		                data-easing="easeOutExpo" 
		                data-start="1400" 
		                data-speed="1050" 
		                data-y="180" 
		                data-x="40">
		                <div class="list-slide">
		                    <i class="icon-calendar slide-icon"></i>
		                    <h5> Informação Gerencial em Tempo Real </h5>
		                </div></div>
		            <div class="caption list_slide lfb tp-caption start" 
		                data-easing="easeOutExpo" 
		                data-start="1800" 
		                data-speed="1200" 
		                data-y="220" 
		                data-x="40">
		                <div class="list-slide">
		                    <i class="icon-folder-close slide-icon"></i>
		                    <h5> Eliminação das Planilhas </h5>
		                </div></div>
		            <div class="caption list_slide lfb tp-caption start" 
		                data-easing="easeOutExpo" 
		                data-start="2200" 
		                data-speed="1350" 
		                data-y="260" 
		                data-x="40">
		                <div class="list-slide">
		                    <i class="icon-sort-by-attributes-alt slide-icon"></i>
		                    <h5> Redução de Custos Operacionais </h5>
		                </div></div>
		            <div class="caption lfb caption_button_1 fadeout tp-caption start"
		                data-x="40"
		                data-y="330"
		                data-speed="900"
		                data-endspeed="300"
		                data-start="2700"
		                data-hoffset="-70"
		                data-easing="easeOutExpo">
		                <a class="btn-special hidden-xs btn-grey" href="/servicos">Saiba Mais</a></div>
		            <div class="caption lfb caption_button_2 fadeout tp-caption start"
		                data-x="210"
		                data-y="330"
		                data-speed="800"
		                data-endspeed="300"
		                data-start="2900"
		                data-hoffset="70"
		                data-easing="easeOutExpo">
		                <a class="btn-special hidden-xs btn-color" href="{% include try-now.html %}">Comece Já!</a></div>
                </div>
            </li>
            <li data-transition="fade" data-slotamount="1" data-masterspeed="300">
                <img src="/img/slider/plain-parked-rodrigobari.jpg" data-fullwidthcentering="on" alt="Solução ERP Moderna">
                <div class="caption large_text sft"
                    data-x="660"
                    data-y="54"
                    data-speed="300"
                    data-start="800"
                    data-easing="easeOutExpo"  >SOLUÇÃO ERP MODERNA E</div>
                <div class="caption medium_text sfl"
                    data-x="689"
                    data-y="92"
                    data-speed="300"
                    data-start="1100"
                    data-easing="easeOutExpo"  >MAIS</div>
                <div class="caption large_text sfr"
                    data-x="738"
                    data-y="88"
                    data-speed="300"
                    data-start="1100"
                    data-easing="easeOutExpo"  ><span class="dblue">AVANÇADA DO MERCADO</span></div>
                <div class="hide-small-screens">
		            <div class="caption list_slide lfb tp-caption start" 
		                data-easing="easeOutExpo" 
		                data-start="1400" 
		                data-speed="1050" 
		                data-y="160" 
		                data-x="650">
		                <div class="list-slide" style="background-color: rgba(255,255,255,0.8); height: 18.57em; width: 31.14em; border-radius: 0.36em;"></div></div>
		            <div class="caption list_slide lfb tp-caption start" 
		                data-easing="easeOutExpo" 
		                data-start="1400" 
		                data-speed="1050" 
		                data-y="180" 
		                data-x="670">
		                <div class="list-slide">
		                    <i class="icon-eye-open slide-icon"></i>
		                    <h5 class="dblue"> CRM </h5>
		                </div></div>
		            <div class="caption list_slide lfb tp-caption start" 
		                data-easing="easeOutExpo" 
		                data-start="1800" 
		                data-speed="1200" 
		                data-y="220" 
		                data-x="670">
		                <div class="list-slide">
		                    <i class="icon-truck slide-icon"></i>
		                    <h5 class="dblue"> COMPRAS VENDAS E STOCKS </h5>
		                </div></div>
		            <div class="caption list_slide lfb tp-caption start" 
		                data-easing="easeOutExpo" 
		                data-start="2200" 
		                data-speed="1350" 
		                data-y="260" 
		                data-x="670">
		                <div class="list-slide">
		                    <i class="icon-bar-chart slide-icon"></i>
		                    <h5 class="dblue"> CONTABILIDADE FINANCEIRA & ANALÍTICA </h5>
		                </div></div>
		            <div class="caption list_slide lfb tp-caption start" 
		                data-easing="easeOutExpo" 
		                data-start="2600" 
		                data-speed="1350" 
		                data-y="300" 
		                data-x="670">
		                <div class="list-slide">
		                    <i class="icon-group slide-icon"></i>
		                    <h5 class="dblue"> RECURSOS HUMANOS </h5>
		                </div></div>
		            <div class="caption list_slide lfb tp-caption start" 
		                data-easing="easeOutExpo" 
		                data-start="3000" 
		                data-speed="1350" 
		                data-y="340" 
		                data-x="670">
		                <div class="list-slide">
		                    <i class="icon-dashboard slide-icon"></i>
		                    <h5 class="dblue"> DASHBOARDS & KPIs </h5>
		                </div></div>
		            <div class="caption list_slide lfb tp-caption start" 
		                data-easing="easeOutExpo" 
		                data-start="3400" 
		                data-speed="1350" 
		                data-y="380" 
		                data-x="670">
		                <div class="list-slide">
		                    <i class="icon-gears slide-icon"></i>
		                    <h5 class="dblue"> +3.000 MÓDULOS </h5>
		                </div></div>
		            <div class="caption lfb caption_button_1 fadeout tp-caption start"
		                data-x="40"
		                data-y="365"
		                data-speed="900"
		                data-endspeed="300"
		                data-start="3500"
		                data-hoffset="-70"
		                data-easing="easeOutExpo">
		                <a class="btn-special hidden-xs btn-grey" href="/servicos">Saiba Mais</a></div>
		            <div class="caption lfb caption_button_2 fadeout tp-caption start"
		                data-x="210"
		                data-y="365"
		                data-speed="800"
		                data-endspeed="300"
		                data-start="3700"
		                data-hoffset="70"
		                data-easing="easeOutExpo">
		                <a class="btn-special hidden-xs btn-color" href="{% include try-now.html %}">Comece Já!</a></div>
                </div>
            </li>
            <li data-delay="6000" data-masterspeed="300" data-transition="fade">
                <div class="slotholder"><img src="/img/slider/plain-flying-rodrigobari.jpg" data-fullwidthcentering="on" alt="Vantagens Operacionais"></div>
                <div class="caption modern_big_bluebg h1 lft tp-caption start"
                    data-x="25"
                    data-y="85"
                    data-speed="700"
                    data-endspeed="800"
                    data-start="1000"
                    data-easing="easeOutQuint"
                    data-endeasing="easeOutQuint">
                    <h3>VANTAGENS OPERACIONAIS</h3></div>
                <div class="hide-small-screens">
		            <div class="caption list_slide lfb tp-caption start" 
		                data-easing="easeOutExpo" 
		                data-start="1400" 
		                data-speed="1050" 
		                data-y="160" 
		                data-x="25">
		                <div class="list-slide" style="background-color: rgba(255,255,255,0.4); height: 17.14em; width: 32.64em; border-radius: 0.36em;"></div></div>
		            <div class="caption list_slide lfb tp-caption start" 
		                data-easing="easeOutExpo" 
		                data-start="1400" 
		                data-speed="1050" 
		                data-y="180" 
		                data-x="40">
		                <div class="list-slide">
		                    <i class="icon-thumbs-up slide-icon"></i>
		                    <h5 class="dblue"> Mais Eficiência e Produtividade </h5>
		                </div></div>
		            <div class="caption list_slide lfb tp-caption start" 
		                data-easing="easeOutExpo" 
		                data-start="1800" 
		                data-speed="1200" 
		                data-y="220" 
		                data-x="40">
		                <div class="list-slide">
		                    <i class="icon-unlock-alt slide-icon"></i>
		                    <h5 class="dblue"> Alto Nível de Segurança </h5>
		                </div></div>
		            <div class="caption list_slide lfb tp-caption start" 
		                data-easing="easeOutExpo" 
		                data-start="2200" 
		                data-speed="1350" 
		                data-y="260" 
		                data-x="40">
		                <div class="list-slide">
		                    <i class="icon-lightbulb slide-icon"></i>
		                    <h5 class="dblue"> BI - Inteligência de Negócio </h5>
		                </div></div>
		            <div class="caption lfb caption_button_1 fadeout tp-caption start"
		                data-x="40"
		                data-y="330"
		                data-speed="900"
		                data-endspeed="300"
		                data-start="2700"
		                data-hoffset="-70"
		                data-easing="easeOutExpo">
		                <a class="btn-special hidden-xs btn-grey" href="/servicos">Saiba Mais</a></div>
		            <div class="caption lfb caption_button_2 fadeout tp-caption start"
		                data-x="240"
		                data-y="330"
		                data-speed="800"
		                data-endspeed="300"
		                data-start="2900"
		                data-hoffset="70"
		                data-easing="easeOutExpo">
		                <a class="btn-special hidden-xs btn-color" href="{% include try-now.html %}">Comece Já!</a></div>
                </div>
            </li>
			<li data-delay="8000" data-transition="fade" data-slotamount="1" data-masterspeed="300">
                <img src="/img/slider/planet-earth.jpg" data-fullwidthcentering="on" alt="Contemplação">
	            <div class="caption large_text sfr"
	                data-x="900"
	                data-y="330"
	                data-speed="6000"
	                data-start="5000"
	                data-easing="easeOutExpo"  ><img src="/img/slider/logo_tko_br.png" /></div>
            </li>
			<li data-delay="22000" data-transition="fade" data-slotamount="1" data-masterspeed="300">
                <img src="/img/slider/cosmonaut.jpg" data-fullwidthcentering="on" alt="De Onde Viémos?">
	            <div class="caption list_slide lfb tp-caption start multi-screens" 
	                data-easing="easeOutExpo" 
	                data-start="3000" 
	                data-speed="1050" 
	                data-y="100" 
	                data-x="650">
	                <div class="list-slide"></div></div>
                <div class="caption list_slide lfb tp-caption start" 
                    data-easing="easeOutExpo" 
                    data-start="5000" 
                    data-speed="1000" 
                    data-y="140" 
                    data-x="690">
                    <div class="list-slide">
                        <i class="icon-frown slide-icon"></i>
                        <h5 class="dblue"> De Onde Viemos ? </h5>
                    </div></div>
                <div class="caption list_slide lfb tp-caption start" 
                    data-easing="easeOutExpo" 
                    data-start="8000" 
                    data-speed="1500" 
                    data-y="215" 
                    data-x="690">
                    <div class="list-slide">
                        <i class="icon-meh slide-icon"></i>
                        <h5 class="dblue"> Para Onde Vamos ? </h5>
                    </div></div>
                <div class="caption list_slide lfb tp-caption start" 
                    data-easing="easeOutExpo" 
                    data-start="12000" 
                    data-speed="3000" 
                    data-y="290" 
                    data-x="690">
                    <div class="list-slide">
                        <i class="icon-smile slide-icon"></i>
                        <h5 class="dblue"> Será Que Lá Tem Internet ?! </h5>
                    </div></div>
            </li>
        </ul>
    </div>
</div>
