<!-- Slogan Start-->
<div class="slogan bottom-pad-small">
    <div class="container">
        <div class="row">
            <div class="slogan-content">
                <div class="col-lg-9 col-md-9">
                	<!--
                    <h2 class="slogan-title">Sua empresa é <strong>o seu sonho</strong>... LEVAMOS <strong>O SEU SONHO</strong> MAIS ALTO!</h2>
                    <h2 class="slogan-title">JUNTOS ELEVAMOS <strong>O SEU SONHO</strong> MAIS ALTO!</h2>
                    SONHE, PROJETE, FAÇA... JUNTOS PODEMOS MAIS!
                    SONHE, PROJETE, FAÇA... JUNTOS REALIZAMOS MAIS!
                    SONHE, PROJETE, FAÇA... JUNTOS CONSEGUIMOS MAIS!
                    SONHE, PROJETE, REALIZE. VOCÊ EM TEMPO REAL!
                    SONHE, PROJETE. JUNTOS FAZEMOS ACONTECER!
                    -->
                    <h2 class="slogan-title">SONHE ! JUNTOS LEVAMOS <strong>SEU SONHO</strong> CADA VEZ MAIS ALTO !</h2>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="get-started">
                        <button class="btn btn-special btn-color pull-right">COMECE JÁ!</button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- Slogan End-->
