<div class="slogan bottom-pad-small">
    <div class="container">
        <div class="row">
            <div class="slogan-content">
                <div class="col-lg-8 col-md-8">
                	<!--
                    LEVAMOS O SEU SONHO MAIS ALTO!
                    JUNTOS ELEVAMOS O SEU SONHO MAIS ALTO!
                    SONHE, PROJETE, FAÇA... JUNTOS PODEMOS MAIS!
                    SONHE, PROJETE, FAÇA... JUNTOS REALIZAMOS MAIS!
                    SONHE, PROJETE, FAÇA... JUNTOS CONSEGUIMOS MAIS!
                    SONHE, PROJETE, REALIZE. VOCÊ EM TEMPO REAL!
                    SONHE, PROJETE. JUNTOS FAZEMOS ACONTECER!
                    JUNTOS LEVAMOS SEU SONHO MAIS ALTO!
                    -->
                    <h2 class="slogan-title"><div style="text-transform:uppercase;">{% include company-slogan.html %}</div></h2>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="get-started">
						<a href="{% include try-now.html %}"><button class="btn btn-special btn-color pull-left">SEJA UM PARCEIRO!</button></a>
                        <a href="{% include try-now.html %}"><button class="btn btn-special btn-grey pull-right">TESTE JÁ!</button></a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
