<li class="facebook"><a href="https://www.facebook.com/pages/ThinkOpen-Solutions-Brasil/240456072755035" data-toggle="tooltip" title="Facebook" target="_blank"><i class="icon-facebook"></i></a></li>
<li class="twitter"><a href="https://twitter.com/ThinkOpenBR" data-toggle="tooltip" title="Twitter" target="_blank"><i class="icon-twitter"></i></a></li>
<li class="linkedin"><a href="http://www.linkedin.com/groups/ThinkOpen-Solutions-Brasil-4803939" data-toggle="tooltip" title="LinkedIn" target="_blank"><i class="icon-linkedin"></i></a></li>
<li class="gplus"><a href="https://plus.google.com/u/0/100286248702577363195/posts" data-toggle="tooltip" title="Google+" target="_blank"><i class="icon-google-plus"></i></a></li>
<li class="oerp"><a href="http://tkobr.tkobr.com/?db=tkobr" data-toggle="tooltip" title="Backoffice" target="_blank"><i class="icon-key"></i></a></li>
<!--
<li class="gplus"><a href="https://twitter.com/thinkopenTW" data-toggle="tooltip" title="Youtube"><i class="icon-youtube-play"></i></a></li>
-->
