<li class="facebook"><a href="#" data-toggle="tooltip" title="Facebook"><i class="icon-facebook"></i></a></li>
<li class="twitter"><a href="#" data-toggle="tooltip" title="Twitter"><i class="icon-twitter"></i></a></li>
<li class="linkedin"><a href="#" data-toggle="tooltip" title="LinkedIn"><i class="icon-linkedin"></i></a></li>
<li class="gplus"><a href="#" data-toggle="tooltip" title="Google+"><i class="icon-google-plus"></i></a></li>
<li class="gplus"><a href="#" data-toggle="tooltip" title="Youtube"><i class="icon-youtube-play"></i></a></li>
