<div class="content">
	<div class="container">
		<!-- Features start -->
		<div class="features bottom-pad">
		   <div class="container">
			  <div class="row">
				 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				    <h3  class="title">Plataforma SaaS ERP</h3>
				    <div class="row">
				       <div class="circular-nav">
				          <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 animate_afl">
				             <div id="cn-tabs">
				                <div class="service service-1">
				                   <div class="cn-content">
				                      <h4>Open Source</h4>
				                      <p>Desenvolvido por mais de 7.000 desenvolvedores em todo o mundo. Com uma comunidade ativa que contribui e beneficia diariamente com novos módulos para as diversas áreas de gestão de uma empresa.</p>
				                   </div>
				                </div>
				                <div class="service service-2">
				                   <div class="cn-content">
				                      <h4>Completo</h4>
				                      <p>Mais de 3.000 módulos estão disponíveis na internet. Entre eles os módulos de CRM, Marketing, Compras, Vendas, Contabilidade Financeira, Contabilidade Analítica (centro de custos), Gestão de Estoques (WMS), Gestão de Projetos, Gestão de Recursos Humanos (RH), Localização Brasileira (NFe, NFSe, CNAB, Boletos, SPED), Gestão de Frota e muitos mais...</p>
				                   </div>
				                </div>
				                <div class="service service-3">
				                   <div class="cn-content">
				                      <h4>Evoluído</h4>
				                      <p>Além da existência de módulos para cada departamento e área de atuação de empresa cada módulo  implementa desde os processos mais simples, para micro empresas, até aos processos mais complexos das grandes.</p>
				                   </div>
				                </div>
				                <div class="service service-4">
				                   <div class="cn-content">
				                      <h4>Modular</h4>
				                      <p>Comece por um módulo e mediante as suas necessidades adicione outros mais tarde, com garantia total de
integração com os existentes.</p>
				                   </div>
				                </div>
				                <div class="service service-5">
				                   <div class="cn-content">
				                      <h4>Flexível</h4>
				                      <p>Personalize o interface e processos e administre os seus processos de negócio em apenas alguns cliques.</p>
				                   </div>
				                </div>
				                <div class="service service-6">
				                   <div class="cn-content">
				                      <h4>Independente</h4>
				                      <p>Utilização local ou on-line, a qualquer altura e em qualquer lugar. Utilize o equipamento ou sistema operativo de sua preferência, quer seja Linux, Mac ou Windows, acesse de um desktop, tablet ou celular.</p>
				                   </div>
				                </div>
				                <div class="service service-7">
				                   <div class="cn-content">
				                      <h4>Ótimo Preço/Qualidade</h4>
				                      <p>Ótima relação Preço/Qualidade. Neste conceito de open source não existe lugar ao pagamento de dispendiosas licenças de software.</p>
				                   </div>
				                </div>
				                <div class="service service-8">
				                   <div class="cn-content">
				                      <h4>Aberto</h4>
				                      <p>A liberdade total dos seus dados. Plataforma aberta que permite importações/exportações fáceis dos seus dados.</p>
				                   </div>
				                </div>
				                <div class="service service-9">
				                   <div class="cn-content">
				                      <h4>RAD</h4>
				                      <p>Se tiver uma necessidade de desenvolver um processo muito específico seu. Esta plataforma permite o seu desenvolvimento rápido e ágil. Podendo até reaproveitar código existente, reduzindo assim os custos, e aumentando a integração com os restantes múdulos.</p>
				                   </div>
				                </div>
				             </div>
				             <div class="clearfix"></div>
				          </div>
				          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 animate_afr">
				             <div class="cn-wrapper">
				                <ul>
				                   <li class="circle-1 circle"><a class="active" href="#"><span class="icon-picture"></span></a></li>
				                   <li class="circle-2 circle"><a href="#"><span class="icon-sitemap"></span> </a></li>
				                   <li class="circle-3 circle"><a href="#"><span class="icon-rocket"></span></a></li>
				                   <li class="circle-4 circle"><a href="#"><span class="icon-puzzle-piece"></span></a></li>
				                   <li class="circle-5 circle"><a href="#"><span class="icon-bullseye"></span></a></li>
				                   <li class="circle-6 circle"><a href="#"><span class="icon-mobile-phone"></span></a></li>
				                   <li class="circle-7 circle"><a href="#"><span class="icon-thumbs-down-alt"></span> </a></li>
				                   <li class="circle-8 circle"><a href="#"><span class="icon-random"></span></a></li>
				                   <li class="circle-9 circle"><a href="#"><span class="icon-code"></span></a></li>
				                </ul>
				                <div class="clearfix"></div>
				             </div>
				          </div>
				          <div class="clearfix"></div>
				       </div>
				    </div>
				 </div>
			  </div>
		   </div>
		</div>
		<!-- Features End --
	</div>
</div>
{% include contact-us.html %}
<div class="content">
	<div class="container">
        <!-- 3 Column Services -->
        <div class="services">
           <div class="container">
              <div class="row">
                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="title">Vantagens da Plataforma SaaS ERP</h3>
                 </div>
                 <div class="clearfix"></div>
                 <div class="col-lg-4 col-md-4 col-sm-4 bottom-pad">
                    <div class="content-box ch-item">
                       <div class="ch-info-wrap">
                          <div class="ch-info">
                             <div class="ch-info-front ch-img-1"><i class="icon-cloud"></i></div>
                             <div class="ch-info-back">
                                <i class="icon-cloud"></i>
                             </div>
                          </div>
                       </div>
                       <div class="content-box-info">
                          <h4>Acesso 100% WEB</h4>
                          <p>
                          Plataforma 100% WEB, de simples utilização e acessível a partir de qualquer browser (Internet Explorer, Mozilla Firefox, Google Chrome, Opera, Safari).
                          </p>
                       </div>
                    </div>
                 </div>
                 <div class="col-lg-4 col-md-4 col-sm-4 bottom-pad">
                    <div class="content-box ch-item">
                       <div class="ch-info-wrap">
                          <div class="ch-info">
                             <div class="ch-info-front ch-img-1"><i class="icon-eye-open"></i></div>
                             <div class="ch-info-back">
                                <i class="icon-eye-open"></i>
                             </div>
                          </div>
                       </div>
                       <div class="content-box-info">
                          <h4>Motor Business Inteligence</h4>
                          <p>
                          Permite a fácil criação e modificação de dashboards de controlo de processos, de SLA’s e de KPI’s, com drill-down
sobre a informação e manipulação de cubos, permitindo acesso rápido a todos os dados de negócio constantes no ERP.
                          </p>
                       </div>
                    </div>
                 </div>
                 <div class="col-lg-4 col-md-4 col-sm-4 bottom-pad">
                    <div class="content-box ch-item">
                       <div class="ch-info-wrap">
                          <div class="ch-info">
                             <div class="ch-info-front ch-img-1"><i class="icon-upload-alt"></i></div>
                             <div class="ch-info-back">
                                <i class="icon-upload-alt"></i>
                             </div>
                          </div>
                       </div>
                       <div class="content-box-info">
                          <h4>Base de Dados Postgres</h4>
                          <p>
                          Ao utilizar uma base de dados Postgres SQL permite a redução do custo total de operação do sistema, mantendo todas as
garantias de fiabilidade e segurança da informação.
                          </p>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="row">
                 <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="content-box ch-item">
                       <div class="ch-info-wrap">
                          <div class="ch-info">
                             <div class="ch-info-front ch-img-1"><i class="icon-folder-open"></i></div>
                             <div class="ch-info-back">
                                <i class="icon-folder-open"></i>
                             </div>
                          </div>
                       </div>
                       <div class="content-box-info">
                          <h4>Gestão Documental</h4>
                          <p>
                          Gestão documental integrada que permite anexar qualquer tipo de documento (PDF, Google Docs) a qualquer tipo de objeto de uma forma simples e centralizada, permitindo igualmente a gestão de pastas e controlo de acesso aos documentos.
                          </p>
                       </div>
                    </div>
                 </div>
                 <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="content-box ch-item">
                       <div class="ch-info-wrap">
                          <div class="ch-info">
                             <div class="ch-info-front ch-img-1"><i class="icon-group"></i></div>
                             <div class="ch-info-back">
                                <i class="icon-group"></i>
                             </div>
                          </div>
                       </div>
                       <div class="content-box-info">
                          <h4>Gestão de Permissões</h4>
                          <p>
                          Gestão integrada de permissões através da criação de grupos e perfis de utilização, possibilitando a configuração manual de acesso personalizado a todos os elementos do sistema, tais como objectos, acções, dados, relatórios, vistas.
                          </p>
                       </div>
                    </div>
                 </div>
                 <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="content-box ch-item">
                       <div class="ch-info-wrap">
                          <div class="ch-info">
                             <div class="ch-info-front ch-img-1"><i class="icon-key"></i></div>
                             <div class="ch-info-back">
                                <i class="icon-key"></i>
                             </div>
                          </div>
                       </div>
                       <div class="content-box-info">
                          <h4>Single Sign-On</h4>
                          <p>
                          Suporta autenticação LDAP (Sistemas Linux) e Active Directory (Sistemas Windows), permitindo uma total integração com plataformas de credenciação existentes.
                          </p>
                       </div>
                    </div>
                 </div>
              </div>
			<div class="divider"></div>
              <div class="row">
                 <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="content-box ch-item">
                       <div class="ch-info-wrap">
                          <div class="ch-info">
                             <div class="ch-info-front ch-img-1"><i class="icon-bar-chart"></i></div>
                             <div class="ch-info-back">
                                <i class="icon-bar-chart"></i>
                             </div>
                          </div>
                       </div>
                       <div class="content-box-info">
                          <h4>Reporting Integrado</h4>
                          <p>
                          Possibilidade de criação de relatórios customizáveis sobre toda a informação constante no ERP, através de uma ferramenta de criação de reports.
                          </p>
                       </div>
                    </div>
                 </div>
                 <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="content-box ch-item">
                       <div class="ch-info-wrap">
                          <div class="ch-info">
                             <div class="ch-info-front ch-img-1"><i class="icon-envelope"></i></div>
                             <div class="ch-info-back">
                                <i class="icon-envelope"></i>
                             </div>
                          </div>
                       </div>
                       <div class="content-box-info">
                          <h4>Integração com Emails</h4>
                          <p>
                          Integração dos workflows com email, permitindo a configuração de acções condicionais e procedimentos de execução automatizados para cada passo/transição dos diversos workflows existentes.
                          </p>
                       </div>
                    </div>
                 </div>
                 <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="content-box ch-item">
                       <div class="ch-info-wrap">
                          <div class="ch-info">
                             <div class="ch-info-front ch-img-1"><i class="icon-share-sign"></i></div>
                             <div class="ch-info-back">
                                <i class="icon-share-sign"></i>
                             </div>
                          </div>
                       </div>
                       <div class="content-box-info">
                          <h4>Importação / Exportação</h4>
                          <p>
                          Importa e exporta informação de uma série de fontes de dados, tais como ficheiros CSV, ficheiros XML, tabelas Excel através de COM, bases de dados relacionais.
                          </p>
                       </div>
                    </div>
                 </div>
              </div>
			<div class="divider"></div>
              <div class="row">
                 <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="content-box ch-item">
                       <div class="ch-info-wrap">
                          <div class="ch-info">
                             <div class="ch-info-front ch-img-1"><i class="icon-code-fork"></i></div>
                             <div class="ch-info-back">
                                <i class="icon-code-fork"></i>
                             </div>
                          </div>
                       </div>
                       <div class="content-box-info">
                          <h4>Motor Workflow</h4>
                          <p>
                          Criação e modificação de workflows de validação, através da sua edição visual, por forma a integrar rapidamente novas
regras e procedimentos de negócio.
                          </p>
                       </div>
                    </div>
                 </div>
                 <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="content-box ch-item">
                       <div class="ch-info-wrap">
                          <div class="ch-info">
                             <div class="ch-info-front ch-img-1"><i class="icon-code"></i></div>
                             <div class="ch-info-back">
                                <i class="icon-code"></i>
                             </div>
                          </div>
                       </div>
                       <div class="content-box-info">
                          <h4>Desenvolvimento RAD</h4>
                          <p>
                          Permite o desenvolvimento rápido e ágil de novas funcionalidades e de alterações, através de um ambi-ente visual, ou através de reutilização de módulos e blocos de código existentes.
                          </p>
                       </div>
                    </div>
                 </div>
                 <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="content-box ch-item">
                       <div class="ch-info-wrap">
                          <div class="ch-info">
                             <div class="ch-info-front ch-img-1"><i class="icon-search"></i></div>
                             <div class="ch-info-back">
                                <i class="icon-search"></i>
                             </div>
                          </div>
                       </div>
                       <div class="content-box-info">
                          <h4>Modular</h4>
                          <p>
                          Mais de 3.000 módulos desenvolvidos por mais de 7.000 desenvolvedores em todo o mundo.
                          </p>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="divider"></div>
	</div>
</div>
{% include contact-us.html %}
{% include three-reasons.html %}
