<table style="border-spacing: 0px; background-color: white;">
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td style="background-color: white; padding: 15px 30px 0px 30px; min-width: 333px; border-top: 1px solid lightgray; border-left: 1px solid lightgray; border-right: 1px solid lightgray;">
				<p>Oi ${object.partner_id.name},</p><p>...</p>
			</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td><img src="https://tkobr.tkobr.com/website/image/ir.attachment/14818_a9daff6/datas" height="100%" width="100%"></td>
			<td><img src="https://tkobr.tkobr.com/website/image/ir.attachment/14829_db5e55c/datas" height="auto" width="100%"></td>
			<td><img src="https://tkobr.tkobr.com/website/image/ir.attachment/14821_fe42d39/datas" height="100%" width="100%"></td>
		</tr>
	</tbody>
</table>
