<div class="our-clients">
	<div class="container">
	    <div class="row">
	        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	            <h3 class="title">Três Razões Para Trabalhar Conosco</h3>
	        </div>
	        <div class="divider"></div>
	        <div class="reasons">
	            <div class="col-lg-4 col-md-4 col-sm-4 animate_afc d1">
	                <div class="content-box big ch-item bottom-pad-small">
	                    <div class="ch-info-wrap">
	                        <div class="ch-info">
	                            <div class="ch-info-front ch-img-1"><i class="icon-rocket"></i></div>
	                            <div class="ch-info-back">
	                                <i class="icon-rocket"></i>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="content-box-info">
	                        <h3>Qualidade Profissional</h3>
	                        <p>
	                         Focamos na qualidade e satisfação para melhor atender nossos clientes. A busca pela qualidade na nossa empresa é constante.<br/>A ideia por trás da nossa empresa é a perfeição. Pela perfeição identificamos, analisamos e melhoramos os nossos produtos.<br/>Com esse conceito eliminamos o desperdicio e focamos no que realmente agrega valor. Competimos com a perfeição e não com a concurrência.

	                        </p>
	                    </div>
	                </div>
	            </div>
	            <div class="col-lg-4 col-md-4 col-sm-4 animate_afc d2">
	                <div class="content-box big ch-item bottom-pad-small">
	                    <div class="ch-info-wrap">
	                        <div class="ch-info">
	                            <div class="ch-info-front ch-img-1"><i class="icon-code"></i></div>
	                            <div class="ch-info-back">
	                                <i class="icon-code"></i>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="content-box-info">
	                        <h3>Implementações Primorosas</h3>
	                        <p>Software com maior crescimento do mundo nos últimos quatro anos.
Um software sólido, flexivel, e adaptado a realidade do cliente .
Prémio de Best of Open Source Software Awards ( melhor plataforma em open source do mundo)
Marca consolidada no mercado internacional 
Equipa de professionais altamente qualificados. Estamos em conformidade com as mais rigorosas normas nacionais e internacionais em termos de desenvolvimento de projetos. 
	                        </p>
	                    </div>
	                </div>
	            </div>
	            <div class="col-lg-4 col-md-4 col-sm-4 animate_afc d3">
	                <div class="content-box big ch-item">
	                    <div class="ch-info-wrap">
	                        <div class="ch-info">
	                            <div class="ch-info-front ch-img-1"><i class="icon-ok"></i></div>
	                            <div class="ch-info-back">
	                                <i class="icon-ok"></i>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="content-box-info">
	                        <h3>Cumprimento de Prazos</h3>
	                        <p>
	                           O nosso atelier adota as melhores praticas de desenvolvimento de sistemas computacionais, o que garante o cumprimento de prazos e dos recursos financeiros negociados. A nossa metodalogia garante o envolvimento do cliente nas várias etapas do projeto, além de garantir uma solução dentro do mais alto nível de exigência possivel. Contamos com ferramentas de ultima geração para desenvolvimento e controle de projetos.
	                        </p>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>
