
<div class="service-reasons">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3 class="title">Três Razões Para Trabalhar Conosco</h3>
            </div>
            <div class="divider"></div>
            <div class="reasons">
                <div class="col-lg-4 col-md-4 col-sm-4 animate_afc d1">
                    <div class="content-box big ch-item bottom-pad-small">
                        <div class="ch-info-wrap">
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-1"><i class="icon-rocket"></i></div>
                                <div class="ch-info-back">
                                    <i class="icon-rocket"></i>
                                </div>
                            </div>
                        </div>
                        <div class="content-box-info">
                            <h3>Qualidade Profissional</h3>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 animate_afc d2">
                    <div class="content-box big ch-item bottom-pad-small">
                        <div class="ch-info-wrap">
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-1"><i class="icon-code"></i></div>
                                <div class="ch-info-back">
                                    <i class="icon-code"></i>
                                </div>
                            </div>
                        </div>
                        <div class="content-box-info">
                            <h3>Implementações Primorosas</h3>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 animate_afc d3">
                    <div class="content-box big ch-item">
                        <div class="ch-info-wrap">
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-1"><i class="icon-ok"></i></div>
                                <div class="ch-info-back">
                                    <i class="icon-ok"></i>
                                </div>
                            </div>
                        </div>
                        <div class="content-box-info">
                            <h3>Cumprimento de Prazos</h3>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
