<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="content-box big ch-item bottom-pad-small">
                    <div class="ch-info-wrap">
	                    <a href="/porque">
		                    <div class="ch-info">
		                        <div class="ch-info-front ch-img-1"><i class="icon-question"></i></div>
		                        <div class="ch-info-back">
		                            <i class="icon-question"></i>
		                        </div>
		                    </div>
                        </a>
                    </div>
                    <div class="content-box-info">
                        <h3>Porquê?</h3>
                        <p>Porque fazemos o que fazemos?<br />
                        Porque saímos da cama de manhã?<br />
                        Porque alguém vai se importar com isso?<br />
                        <a href="/porque">Saiba Mais <i class="icon-angle-right"></i><i class="icon-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="content-box big ch-item bottom-pad-small">
                    <div class="ch-info-wrap">
	                    <a href="/porque">
		                    <div class="ch-info">
		                        <div class="ch-info-front ch-img-1"><i class="icon-group"></i></div>
		                        <div class="ch-info-back">
		                            <i class="icon-group"></i>
		                        </div>
		                    </div>
		                </a>
                    </div>
                    <div class="content-box-info">
                        <h3>Como Fazemos?</h3>
                        <p>Que tecnologias usamos?<br />
                        Como as utilizamos em nosso benefício?<br />
                        Como tudo isto ajuda nossos parceiros?</p>
                        <a href="/porque">Saiba Mais <i class="icon-angle-right"></i><i class="icon-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="content-box big ch-item">
                    <div class="ch-info-wrap">
	                    <a href="/porque">
		                    <div class="ch-info">
		                        <div class="ch-info-front ch-img-1"><i class="icon-cogs"></i></div>
		                        <div class="ch-info-back">
		                            <i class="icon-cogs"></i>
		                        </div>
		                    </div>
	                    </a>
                    </div>
                    <div class="content-box-info">
                        <h3>O Que Fazemos?</h3>
                        <p>Que soluções disponibilizamos?<br />
                        Como contribuem para o seu negócio?<br />
                        <span style="text-transform:capitalize;">Como {% include company-slogan.html %}</span></p>
                        <a href="/porque">Saiba Mais <i class="icon-angle-right"></i><i class="icon-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
