---
layout: page
class: blog blog-small
---

{% assign t = site.tags.translations[0] %}

<!-- Main Content start-->
<div class="content">
   <div class="container">
	  <div class="row">
		 <div class="posts-block col-lg-9 col-md-9 col-sm-8 col-xs-12">
			{% for post in site.categories.blog limit 5 %}				
					<article class="post hentry">
					{% if post.image %}
					   <div class="post-image">
						  <a href="{{ post.image }}" data-rel="prettyPhoto">
						  <span class="img-hover"></span>
						  <span class="fullscreen"><i class="icon-search"></i></span>
						  <img src="{{ post.image }}" alt="">
						  </a>
					   </div>
					{% else if %}
					   <div class="post-image">
						  <a href="/assets/blog-post1.jpg" data-rel="prettyPhoto">
						  <span class="img-hover"></span>
						  <span class="fullscreen"><i class="icon-search"></i></span>
						  <img src="/assets/blog-post1.jpg" alt="">
						  </a>
					   </div>
					{% endif %}
					   <div class="post-content-wrap">
						  <header class="post-header">
							 <div class="post-date">
								{% capture day %}{{post.date | date: "%d"}}{% endcapture %}
								{% capture month %}{{post.date | date: "%B"}}{% endcapture %}
								{% capture year %}{{post.date | date: "%Y"}}{% endcapture %}           						
								<a class="date" href="#"><strong>{{ day }}</strong><i>{{ t.[page.lang].blog.abbr.[month] }}</i></a>
							 </div>
							 <h3 class="content-title">{{ post.title }}</h3>
							 <div class="blog-entry-meta">
								{% if post.author %}
								 <div class="blog-entry-meta-author">
									<i class="icon-user"></i>
									<a href="#" class="blog-entry-meta-author">{{post.author}}</a>
								 </div>
								{% endif %}		
							 </div>
						  </header>
						  <div class="post-content">
							 <p>
								{{ post.content | strip_html | truncatewords:40 }}
							 </p>
						  </div>
						  <footer class="post-footer">
							<a class="btn-small btn-color" href="{{ post.url }}">Leia mais...</a>
						  </footer>
					   </div>				   
					   <div class="clearfix"></div>
					</article>
		
					<div class="blog-divider"></div>
					
			{% endfor %}
			
			{% comment %}
			<div class="pagination-centered">
			   <ul class="pagination">
				  <li class="disabled"><a href="#">«</a></li>
				  <li class="active"><a href="#">1</a></li>
				  <li><a href="#">2</a></li>
				  <li><a href="#">3</a></li>
				  <li><a href="#">4</a></li>
				  <li><a href="#">5</a></li>
				  <li><a href="#">»</a></li>
			   </ul>
			</div>
			
			{% endcomment %}
		 </div>
		 <div class="sidebar col-lg-3 col-md-3 col-sm-4 col-xs-12">
		 
			{% comment %}
			<!-- Search Widget Start -->
			<div class="widget search-form">
			   <div class="input-group">
				  <input type="text" value="Search..." onfocus="if(this.value=='Search...')this.value='';" onblur="if(this.value=='')this.value='Search...';" class="search-input form-control">
				  <span class="input-group-btn">
				  <button type="submit" class="subscribe-btn btn"><i class="icon-search"></i></button>
				  </span>
			   </div>
			   <!-- /input-group -->
			</div>
			<!-- Search Widget End -->
			<!-- Tab Start -->
			<div class="widget tabs">
			   <div id="horizontal-tabs">
				  <ul class="tabs">
					 <li id="tab1" class="current">Popular</li>
					 <li id="tab2">Recent</li>
					 <li id="tab3">Comments</li>
				  </ul>
				  <div class="contents">
					 <div class="tabscontent" id="content1" style="display: block;">
						<ul class="posts">
						   <li>
							  <a href="#"><img class="img-thumbnail recent-post-img" alt="" src="/assets/recent-post-img.jpg"></a>
							  <p><a href="#">Lorem Ipsum is simply dummy text.</a></p>
							  <span class="color">27 July 2013</span>
						   </li>
						   <li>
							  <a href="#"><img class="img-thumbnail recent-post-img" alt="" src="/assets/recent-post-img.jpg"></a>
							  <p><a href="#">Lorem Ipsum is simply dummy text.</a></p>
							  <span class="color">30 July 2013</span>
						   </li>
						</ul>
					 </div>
					 <div class="tabscontent" id="content2">
						<ul class="posts">
						   <li>
							  <a href="#"><img class="img-thumbnail recent-post-img" alt="" src="/assets/recent-post-img.jpg"></a>
							  <p><a href="#">Lorem Ipsum is simply dummy text.</a></p>
							  <span class="color">27 July 2013</span>
						   </li>
						   <li>
							  <a href="#"><img class="img-thumbnail recent-post-img" alt="" src="/assets/recent-post-img.jpg"></a>
							  <p><a href="#">Lorem Ipsum is simply dummy text.</a></p>
							  <span class="color">30 July 2013</span>
						   </li>
						</ul>
					 </div>
					 <div class="tabscontent" id="content3">
						<ul class="posts">
						   <li>
							  <a href="#"><img class="img-thumbnail recent-post-img" alt="" src="/assets/recent-post-img.jpg"></a>
							  <p><a href="#">Lorem Ipsum is simply dummy text.</a></p>
							  by <span class="color">wptuts+</span>
						   </li>
						   <li>
							  <a href="#"><img class="img-thumbnail recent-post-img" alt="" src="/assets/recent-post-img.jpg"></a>
							  <p><a href="#">Lorem Ipsum is simply dummy text.</a></p>
							  by <span class="color">wptuts+</span>
						   </li>
						</ul>
					 </div>
				  </div>
			   </div>
			</div>
			<!-- Tab End -->
			
			{% endcomment %}
			
			<!-- Testimonials Widget Start -->
			<div class="row">			   
				{% include testimonials.html %}
			</div>
			
			{% comment %}
			
			<!-- Category Widget Start -->
			<div class="widget category">
			   <h3 class="title">Categories</h3>
			   <ul class="category-list slide">
				  <li><a href="#">Web Design</a></li>
				  <li><a href="#">Graphic Design</a></li>
				  <li><a href="#">Illustration</a></li>
				  <li><a href="#">Logo Design</a></li>
				  <li><a href="#">Wordpress Themes</a></li>
			   </ul>
			</div>
			<!-- Category Widget End -->
			<!-- Ads Widget Start -->
			<div class="widget ads">
			   <h3 class="title">Advertisement</h3>
			   <div class="ads-img row">
				  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					 <img class="img-thumbnail" alt="" src="/assets/ads-small.jpg">
				  </div>
				  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					 <img class="img-thumbnail" alt="" src="/assets/ads-small.jpg">
				  </div>
			   </div>
			   <div class="ads-img row">
				  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					 <img class="img-thumbnail" alt="" src="/assets/ads-small.jpg">
				  </div>
				  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					 <img class="img-thumbnail" alt="" src="/assets/ads-small.jpg">
				  </div>
			   </div>
			</div>
			<!-- Ads Widget End -->
			
			{% endcomment %}
		 </div>
		 <!-- Sidebar End -->     
	  </div>
   </div>
</div>
<!-- Main Content end-->
