---
layout: page
class: blog single-post
comments: no
lang: pt-br
---

{% assign t = site.tags.translations[0] %}

<!-- Main Content start-->
<div class="content">
   <div class="container">
	  <div class="row">
		 <div class="posts-block col-lg-9 col-md-9 col-sm-8 col-xs-12 bottom-pad">
			<article class="post hentry">
			{% if page.image %}
			   <div class="post-image">
				  <a href="{{ page.image }}" data-rel="prettyPhoto">
				  <span class="img-hover"></span>
				  <span class="fullscreen"><i class="icon-search"></i></span>
				  <img src="{{ page.image }}" alt="">
				  </a>
			   </div>
			{% endif %}
			   <header class="post-header">
				  <h3 class="content-title">{{page.title}}</h3>
				  <div class="blog-entry-meta">
					 <div class="blog-entry-meta-date">
						<i class="icon-time"></i>
						{% capture day %}{{page.date | date: "%d"}}{% endcapture %}
						{% capture month %}{{page.date | date: "%B"}}{% endcapture %}
						{% capture year %}{{page.date | date: "%Y"}}{% endcapture %}             	
						<span class="blog-entry-meta-date-day">{{day}} de </span>
						<span class="blog-entry-meta-date-month">{{t.[page.lang].blog.[month]}}</span>					
						<span class="blog-entry-meta-date-year">{{year}}</span>
					 </div>		
      				{% if page.author %}
					 <div class="blog-entry-meta-author">
						<i class="icon-user"></i>
						<a href="#" class="blog-entry-meta-author">{{page.author}}</a>
					 </div>
					{% endif %}					 
				  </div>
			   </header>
			   <div class="post-content">
				  {{content}}
			   </div>
			</article>			
			<div class="blog-divider"></div>
			{% comment %}			
			<ul class="pager">
			   <li class="previous"><a href="#">&larr; Older</a></li>
			   <li class="next"><a href="#">Newer &rarr;</a></li>
			</ul>
			{% endcomment %}
			<div class="divider"></div>
			{% if page.comments %}
			<!-- Comments Section Start -->
			<div class="comment-wrapper">
			   <h3 class="title">Coment&aacute;rios</h3>
			   <div class="clearfix"></div>
			   <div class="comments-sec">
			    <div class="fb-comments" data-href="{{ " {{="" site.url="" "="" }}}}{{="" "{{="" page.url="" }}}}"="" data-num-posts="4" data-width="706"></div>
			   </div>
			   <div class="clearfix">
			   </div>
			</div>
			<!-- Comments Section End -->
			{% endif %}
		 </div>
		 <div class="sidebar col-lg-3 col-md-3 col-sm-4 col-xs-12">
			{% comment %}
			<!-- Search Widget Start -->
			<div class="widget search-form">
			   <div class="input-group">
				  <input type="text" value="Search..." onfocus="if(this.value=='Search...')this.value='';" onblur="if(this.value=='')this.value='Search...';" class="search-input form-control">
				  <span class="input-group-btn">
				  <button type="submit" class="subscribe-btn btn"><i class="icon-search"></i></button>
				  </span>
			   </div>
			   <!-- /input-group -->
			</div>
			<!-- Search Widget End -->
			<!-- Tab Start -->
			<div class="widget tabs">
			   <div id="horizontal-tabs">
				  <ul class="tabs">
					 <li id="tab1" class="current">Popular</li>
					 <li id="tab2">Recent</li>
					 <li id="tab3">Comments</li>
				  </ul>
				  <div class="contents">
					 <div class="tabscontent" id="content1" style="display: block;">
						<ul class="posts">
						   <li>
							  <a href="#"><img class="img-thumbnail recent-post-img" alt="" src="/img/recent-post-img.jpg"></a>
							  <p><a href="#">Lorem Ipsum is simply dummy text.</a></p>
							  <span class="color">27 July 2013</span>
						   </li>
						   <li>
							  <a href="#"><img class="img-thumbnail recent-post-img" alt="" src="/img/recent-post-img.jpg"></a>
							  <p><a href="#">Lorem Ipsum is simply dummy text.</a></p>
							  <span class="color">30 July 2013</span>
						   </li>
						</ul>
					 </div>
					 <div class="tabscontent" id="content2">
						<ul class="posts">
						   <li>
							  <a href="#"><img class="img-thumbnail recent-post-img" alt="" src="/img/recent-post-img.jpg"></a>
							  <p><a href="#">Lorem Ipsum is simply dummy text.</a></p>
							  <span class="color">27 July 2013</span>
						   </li>
						   <li>
							  <a href="#"><img class="img-thumbnail recent-post-img" alt="" src="/img/recent-post-img.jpg"></a>
							  <p><a href="#">Lorem Ipsum is simply dummy text.</a></p>
							  <span class="color">30 July 2013</span>
						   </li>
						</ul>
					 </div>
					 <div class="tabscontent" id="content3">
						<ul class="posts">
						   <li>
							  <a href="#"><img class="img-thumbnail recent-post-img" alt="" src="/img/recent-post-img.jpg"></a>
							  <p><a href="#">Lorem Ipsum is simply dummy text.</a></p>
							  by <span class="color">wptuts+</span>
						   </li>
						   <li>
							  <a href="#"><img class="img-thumbnail recent-post-img" alt="" src="/img/recent-post-img.jpg"></a>
							  <p><a href="#">Lorem Ipsum is simply dummy text.</a></p>
							  by <span class="color">wptuts+</span>
						   </li>
						</ul>
					 </div>
				  </div>
			   </div>
			</div>
			<!-- Tab End -->
			{% endcomment %}
			<!-- Testimonials Widget Start -->
			<div class="row">
				{% include testimonials.html %}
			</div>
			<!-- Category Widget Start
			<div class="widget category">
			   <h3 class="title">Categories</h3>
			   <ul class="category-list slide">
				  <li><a href="#">Web Design</a></li>
				  <li><a href="#">Graphic Design</a></li>
				  <li><a href="#">Illustration</a></li>
				  <li><a href="#">Logo Design</a></li>
				  <li><a href="#">Wordpress Themes</a></li>
			   </ul>
			</div>
			<!-- Category Widget End -->
		 </div>
		 <!-- Sidebar End --> 
	  </div>
   </div>
</div>
<!-- Main Content end-->
